@@include('./templates/head.html', { "title": "Центры каратэ - Федерация каратэ тюменской области" })
@@include('./templates/header.html')
    <article class="map slide">
        <div class="overlay"></div>
        <div id="map-centers"></div>
        <div class="wrapper">
            <div class="container">
                <div class="row collapse">
                    <div class="column large-8 end">
                        <div class="title"><span>Центры каратэ</span></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="contacts">
        <div class="slide-item owl-carousel">
            <div class="item">
                <ul class="centers-info">
                    <li class="icon adress">
                        <div class="name">
                            Название центра 1
                        </div>
                        <span>г.Тюмень, проезд Воронинские горки 101,к 2</span>
                        <a href="#" class="to-map">Показать на карте</a>
                    </li>
                    <li class="icon phone">
                        <span>8(3452)610-690</span>
                    </li>
                    <li class="icon mail">
                        <span><a href="#">karatetyumen@mail.ru</a></span>
                    </li>
                    <li class="icon time">
                        пн-пт: <span>09:00 - 18:00</span>, сб-вс: <span>Выходной</span>
                    </li>
                    <li class="btn">
                        <a href="centers-view.html" class="button">Подробнее о зале</a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <ul class="centers-info">
                    <li class="icon adress">
                        <div class="name">
                            Название центра 2
                        </div>
                        <span>г.Тюмень, проезд Воронинские горки 101,к 2</span>
                        <a href="#" class="to-map">Показать на карте</a>
                    </li>
                    <li class="icon phone">
                        <span>8(3452)610-690</span>
                    </li>
                    <li class="icon mail">
                        <span><a href="#">karatetyumen@mail.ru</a></span>
                    </li>
                    <li class="icon time">
                        пн-пт: <span>09:00 - 18:00</span>, сб-вс: <span>Выходной</span>
                    </li>
                    <li class="btn">
                        <a href="centers-view.html" class="button">Подробнее о зале</a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <ul class="centers-info">
                    <li class="icon adress">
                        <div class="name">
                            Название центра 3
                        </div>
                        <span>г.Тюмень, проезд Воронинские горки 101,к 2</span>
                        <a href="#" class="to-map">Показать на карте</a>
                    </li>
                    <li class="icon phone">
                        <span>8(3452)610-690</span>
                    </li>
                    <li class="icon mail">
                        <span><a href="#">karatetyumen@mail.ru</a></span>
                    </li>
                    <li class="icon time">
                        пн-пт: <span>09:00 - 18:00</span>, сб-вс: <span>Выходной</span>
                    </li>
                    <li class="btn">
                        <a href="centers-view.html" class="button">Подробнее о зале</a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <ul class="centers-info">
                    <li class="icon adress">
                        <div class="name">
                            Название центра 4
                        </div>
                        <span>г.Тюмень, проезд Воронинские горки 101,к 2</span>
                        <a href="#" class="to-map">Показать на карте</a>
                    </li>
                    <li class="icon phone">
                        <span>8(3452)610-690</span>
                    </li>
                    <li class="icon mail">
                        <span><a href="#">karatetyumen@mail.ru</a></span>
                    </li>
                    <li class="icon time">
                        пн-пт: <span>09:00 - 18:00</span>, сб-вс: <span>Выходной</span>
                    </li>
                    <li class="btn">
                        <a href="centers-view.html" class="button">Подробнее о зале</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row slide-item-control">
            <div class="column small-12 text-center">
                <div class="custom-nav"></div>
            </div>
        </div>
    </article>
    <article class="form">
        <ul class="tabs grey" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Задать вопрос</a></li>
            <li class="tabs-title"><a href="#panel2">Записаться</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <div class="row">
                    <div class="column large-5 medium-7 small-12 small-centered">
                        <form>
                            <div class="input-field">
                                <input type="text" id="first_name">
                                <label for="first_name">Ваше имя</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="phonenumber">
                                <label for="phonenumber">Номер телефона</label>
                            </div>
                            <div class="input-field">
                                <textarea id="question" class="materialize-textarea"></textarea>
                                <label for="question">Ваш вопрос?</label>
                            </div>
                            <input class="button" type="submit" name="Отправить">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tabs-panel" id="panel2">
                <div class="row">
                    <div class="column large-5 medium-7 small-12 small-centered">
                        <form>
                            <div class="input-field">
                                <input type="text" id="first_name">
                                <label for="first_name">Ваше имя</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="phonenumber">
                                <label for="phonenumber">Номер телефона</label>
                            </div>
                            <input class="button" type="submit" value="Записаться">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
@@include('./templates/footer.html')
