@@include('./templates/head.html', { "title": "Центр каратэ" })
@@include('./templates/header.html')
    <article class="banner-title">
        <div class="wrapper">
            <div class="container">
                <div class="row collapse">
                    <div class="column large-8 end">
                        <div class="title"><span>Название центра 1</span></div>
                    </div>
                </div>
            </div>
        </div>
        <section class="slider owl-carousel">
            <div class="slide">
                <div class="img" style="background-image: url(img/TEMP/image1.jpg)"></div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url(http://allbestmma.com/wp-content/uploads/2015/05/Karate-Equipment-for-Kids.jpg)"></div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url(http://static.tumblr.com/a0b8d1ad7b0e8db9c0d07ab635f6c18c/tzzpr01/y8ro11x65/tumblr_static_99mstqcblvcwc8ws80k4c8004.jpg)"></div>
            </div>
        </section>
    </article>
    <article class="gallery-thumb">
        <section id="thumb" class="thumb owl-thumb">
            <div class="slide">
                <div class="img" data-key="1" style="background-image: url(http://www.donskie-sokoly.ru/_imag_images/110/1610-120.jpg)"></div>
            </div>
            <div class="slide">
                <div class="img" data-key="2" style="background-image: url(http://www.izvestiaur.ru/upload/iblock/67a/%D0%BA%D0%B0%D1%80%D0%B0%D1%82%D0%B5-fclub-spb.ru-800.jpg)"></div>
            </div>
            <div class="slide">
                <div class="img" data-key="3" style="background-image: url(http://novorossia.today/wp-content/uploads/2015/04/karate_prev.jpg)"></div>
            </div>
        </section>
    </article>
    <article class="centers-view">
        <div class="row">
            <div class="column large-12">
                <h2>О центре</h2>
            </div>
            <div class="column large-12">
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века..В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.</p>
                <p>Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
            </div>
        </div>
    </article>
    <article class="trainers">
        <div class="row">
            <div class="column large-12">
                <h2>Тренеры</h2>
            </div>
        </div>
        <div class="slide-item owl-carousel">
            <div class="item">
                <div class="video-author">
                    <video poster="img/TEMP/author.jpg">
                        <source src="video/author.mp4">
                    </video>
                </div>
                <div class="author">
                    <div class="name">Усенок Юрий Иванович</div>
                    Вице-президент ФКТО МСМК,
                    Судья межденародной категории,
                    Тренер 1 категории.
                </div>
            </div>
            <div class="item">
                <div class="video-author">
                    <video poster="img/TEMP/author.jpg">
                        <source src="video/author.mp4">
                    </video>
                </div>
                <div class="author">
                    <div class="name">Усенок Юрий Иванович</div>
                    Вице-президент ФКТО МСМК,
                    Судья межденародной категории,
                    Тренер 1 категории.
                </div>
            </div>
            <div class="item">
                <div class="video-author">
                    <video poster="img/TEMP/author.jpg">
                        <source src="video/author.mp4">
                    </video>
                </div>
                <div class="author">
                    <div class="name">Усенок Юрий Иванович</div>
                    Вице-президент ФКТО МСМК,
                    Судья межденародной категории,
                    Тренер 1 категории.
                </div>
            </div>
            <div class="item">
                <div class="video-author">
                    <video poster="img/TEMP/author.jpg">
                        <source src="video/author.mp4">
                    </video>
                </div>
                <div class="author">
                    <div class="name">Усенок Юрий Иванович</div>
                    Вице-президент ФКТО МСМК,
                    Судья межденародной категории,
                    Тренер 1 категории.
                </div>
            </div>
        </div>
        <div class="row slide-item-control">
            <div class="column small-12 text-center">
                <div class="custom-nav"></div>
            </div>
        </div>
    </article>
    <article class="table">
    <div class="row">
        <div class="column large-12">
            <h2>Расписание</h2>
        </div>
    </div>
    <div class="row">
        <div class="column large-12">
            <table>
                <thead>
                <tr>
                    <th width="200">Table Header</th>
                    <th>Table Header</th>
                    <th width="150">Table Header</th>
                    <th width="150">Table Header</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Content Goes Here</td>
                    <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                    <td>Content Goes Here</td>
                    <td>Content Goes Here</td>
                </tr>
                <tr>
                    <td>Content Goes Here</td>
                    <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                    <td>Content Goes Here</td>
                    <td>Content Goes Here</td>
                </tr>
                <tr>
                    <td>Content Goes Here</td>
                    <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                    <td>Content Goes Here</td>
                    <td>Content Goes Here</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>
    <article class="map">
        <div class="overlay"></div>
        <div id="map-centers"></div>
        <div class="slide-panel active">
            <button class="close-slide-panel">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 16 16">
                    <path d="M10.264,8.018 L15.558,2.716 C16.182,2.091 16.117,1.141 15.493,0.518 C14.869,-0.107 13.908,-0.157 13.284,0.469 L8.005,5.755 L2.741,0.486 C2.120,-0.139 1.091,-0.159 0.466,0.468 C-0.158,1.093 -0.145,2.118 0.479,2.743 L5.746,8.018 L0.491,13.279 C-0.133,13.905 -0.070,14.857 0.554,15.480 C1.178,16.105 2.133,16.163 2.757,15.536 L8.005,10.280 L13.256,15.541 C13.880,16.166 14.856,16.132 15.480,15.505 C16.104,14.880 16.186,13.949 15.562,13.324 L10.264,8.018 Z"/>
                </svg>
            </button>
            <ul class="contacts">
                <li class="location">
                    Федерация каратэ Тюменской области
                    <span>проезд Ворониские горки, 101/2</span>
                </li>
                <li class="phone">
                    8 (3452) 610-690
                </li>
                <li class="phone">
                    8 (3452) 610-690
                </li>
                <li class="timetable">
                    <div>Пн-Вт: <span>9:00-18:00</span>, обед: <span>13:00-14:30</span>.</div>
                    <div>Вc: <span>Выходной</span></div>
                </li>
            </ul>
            <div class="info">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            </div>
            <a href="#" class="button">Подробнее о зале</a>
        </div>
    </article>
    <article class="form">
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Задать вопрос</a></li>
            <li class="tabs-title"><a href="#panel2">Записаться</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <div class="row">
                    <div class="column large-5 medium-7 small-12 small-centered">
                        <form>
                            <div class="input-field">
                                <input type="text" id="first_name">
                                <label for="first_name">Ваше имя</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="phonenumber">
                                <label for="phonenumber">Номер телефона</label>
                            </div>
                            <div class="input-field">
                                <textarea id="question" class="materialize-textarea"></textarea>
                                <label for="question">Ваш вопрос?</label>
                            </div>
                            <input class="button" type="submit" name="Отправить">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tabs-panel" id="panel2">
                <div class="row">
                    <div class="column large-5 medium-7 small-12 small-centered">
                        <form>
                            <div class="input-field">
                                <input type="text" id="first_name">
                                <label for="first_name">Ваше имя</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="phonenumber">
                                <label for="phonenumber">Номер телефона</label>
                            </div>
                            <input class="button" type="submit" value="Записаться">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
    @@include('./templates/gallery.html')
@@include('./templates/footer.html')