@@include('./templates/head.html', { "title": "Контакты - Федерация каратэ тюменской области" })
@@include('./templates/header.html')
    <article class="map slide">
        <div class="overlay"></div>
        <div id="map-centers"></div>
        <div class="wrapper">
            <div class="container">
                <div class="row collapse">
                    <div class="column large-8 end">
                        <div class="title"><span>Контакты</span></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="contacts">
        <div class="row">
            <div class="column small-8 small-centered">
                <h4>Федерация каратэ Тюменской области</h4>
                625000, г. Тюмень, проезд Воронинские горки, 101, корпус 2 ( спортивно-оздоровительный комплекс «Партиком»)
                <div class="row">
                    <div class="column small-12 medium-6 large-4">
                        <ul class="list">
                            <li class="icon phone"><a href="#">8 (3452) 610-690</a></li>
                            <li class="icon phone"><a href="#">8 (3452) 236-777</a></li>
                        </ul>
                    </div>
                    <div class="column small-12 medium-6 large-4">
                        <ul class="list">
                            <li class="icon web"><a href="#">karatetyumen.ru</a></li>
                            <li class="icon mail"><a href="#">karatetyumen@mail.ru</a></li>
                        </ul>
                    </div>
                    <div class="column small-12 medium-6 large-4 end">
                        <ul class="list">
                            <li class="icon time"><a href="#">пн-пт: <span>09:00 - 18:00</span></a></li>
                            <li class="icon"><a href="#">сб-вс: <span>Выходной</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="form">
        <ul class="tabs grey" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Задать вопрос</a></li>
            <li class="tabs-title"><a href="#panel2">Записаться</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <div class="row">
                    <div class="column large-5 medium-7 small-12 small-centered">
                        <form>
                            <div class="input-field">
                                <input type="text" id="first_name">
                                <label for="first_name">Ваше имя</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="phonenumber">
                                <label for="phonenumber">Номер телефона</label>
                            </div>
                            <div class="input-field">
                                <textarea id="question" class="materialize-textarea"></textarea>
                                <label for="question">Ваш вопрос?</label>
                            </div>
                            <input class="button" type="submit" name="Отправить">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tabs-panel" id="panel2">
                <div class="row">
                    <div class="column large-5 medium-7 small-12 small-centered">
                        <form>
                            <div class="input-field">
                                <input type="text" id="first_name">
                                <label for="first_name">Ваше имя</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="phonenumber">
                                <label for="phonenumber">Номер телефона</label>
                            </div>
                            <input class="button" type="submit" value="Записаться">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
@@include('./templates/footer.html')
