@@include('./templates/head.html', { "title": "Мероприятия" })
@@include('./templates/header.html')
    <article class="banner-title">
        <div class="wrapper">
            <div class="container">
                <div class="row collapse">
                    <div class="column large-8 end">
                        <div class="title"><span>Мероприятия</span></div>
                    </div>
                </div>
            </div>
        </div>
        <section class="slider owl-carousel">
            <div class="slide">
                <div class="img" style="background-image: url(img/TEMP/image1.jpg)"></div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url(http://allbestmma.com/wp-content/uploads/2015/05/Karate-Equipment-for-Kids.jpg)"></div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url(http://static.tumblr.com/a0b8d1ad7b0e8db9c0d07ab635f6c18c/tzzpr01/y8ro11x65/tumblr_static_99mstqcblvcwc8ws80k4c8004.jpg)"></div>
            </div>
        </section>
    </article>
    <article class="allevents">
        <ul class="tabs light--gray" data-tabs id="events-tabs">
            <li class="tabs-title is-active"><a href="#future_events" aria-selected="true">Ближайшие</a></li>
            <li class="tabs-title"><a href="#last_events">Прошедшие</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="events-tabs">
            <div class="events tabs-panel is-active" id="future_events">
                <section class="slide-item owl-events">
                    <div class="item">
                        <a href="event-view-future.html" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                        <div class="container">
                            <a href="event-view-future.html" class="title">Тюменцы одержали победу в международных соревнованиях</a>
                            <div class="date">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                                    <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                                </svg>
                                25 Сентября 2016
                            </div>
                            <div class="preview">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="event-view-future.html" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                        <div class="container">
                            <a href="event-view-future.html" class="title">Тюменцы одержали победу</a>
                            <div class="date">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                                    <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                                </svg>
                                25 Сентября 2016
                            </div>
                            <div class="preview">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="event-view-future.html" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                        <div class="container">
                            <a href="event-view-future.html" class="title">Тюменцы одержали победу</a>
                            <div class="date">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                                    <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                                </svg>
                                25 Сентября 2016
                            </div>
                            <div class="preview">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="event-view-future.html" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                        <div class="container">
                            <a href="event-view-future.html" class="title">Тюменцы одержали победу</a>
                            <div class="date">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                                    <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                                </svg>
                                25 Сентября 2016
                            </div>
                            <div class="preview">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="event-view-future.html" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                        <div class="container">
                            <a href="event-view-future.html" class="title">Тюменцы одержали победу</a>
                            <div class="date">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                                    <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                                </svg>
                                25 Сентября 2016
                            </div>
                            <div class="preview">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row slide-item-control">
                    <div class="column large-8 hide-for-small-only hide-for-medium-only">
                        <h3>Оставайтесь в курсе событий</h3>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне.
                    </div>
                    <div class="column large-4 medium-12 small-12 large-text-right text-center">
                        <a href="#" class="button">Подписаться</a>
                        <div class="custom-nav"></div>
                    </div>
                </div>
            </div>
            <div class="events_tile tabs-panel" id="last_events">
                <div class="row">
                    <div class="item column large-4 medium-6 small-12">
                        <a href="event-view-last.html" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                        <div class="container">
                            <div class="date">
                                25 Сентября 2016
                            </div>
                            <a href="event-view-last.html" class="title">Тюменцы одержали победу в международных соревнованиях</a>
                        </div>
                    </div>
                    <div class="item column large-4 medium-6 small-12">
                        <a href="event-view-last.html" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                        <div class="container">
                            <div class="date">
                                25 Сентября 2016
                            </div>
                            <a href="event-view-last.html" class="title">Тюменцы одержали победу</a>
                        </div>
                    </div>
                    <div class="item column large-4 medium-6 small-12">
                        <a href="event-view-last.html" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                        <div class="container">
                            <div class="date">
                                25 Сентября 2016
                            </div>
                            <a href="event-view-last.html" class="title">Тюменцы одержали победу</a>
                        </div>
                    </div>
                    <div class="item column large-4 medium-6 small-12">
                        <a href="event-view-last.html" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                        <div class="container">
                            <div class="date">
                                25 Сентября 2016
                            </div>
                            <a href="event-view-last.html" class="title">Тюменцы одержали победу</a>
                        </div>
                    </div>
                    <div class="item column large-4 medium-6 small-12">
                        <a href="event-view-last.html" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                        <div class="container">
                            <div class="date">
                                25 Сентября 2016
                            </div>
                            <a href="event-view-last.html" class="title">Тюменцы одержали победу</a>
                        </div>
                    </div>
                    <div class="item column large-4 medium-6 small-12 end">
                        <a href="event-view-last.html" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                        <div class="container">
                            <div class="date">
                                25 Сентября 2016
                            </div>
                            <a href="event-view-last.html" class="title">Тюменцы одержали победу</a>
                        </div>
                    </div>
                </div>
                @@include('./templates/pagenav.html')
            </div>
        </div>
    </article>
@@include('./templates/footer.html')