@@include('./templates/head.html', { "title": "Событие - Тюменцы вернулись с Баку с медалями" })
@@include('./templates/header.html')
    <article class="banner-title">
        <div class="wrapper">
            <div class="container">
                <div class="row collapse">
                    <div class="column large-8 end">
                        <div class="title"><span>Тюменцы вернулись с Баку с медалями</span></div>
                        <div class="description"><span>Событие</span></div>
                    </div>
                </div>
            </div>
        </div>
        <section class="slider owl-carousel">
            <div class="slide">
                <div class="img" style="background-image: url(img/TEMP/image1.jpg)"></div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url(http://allbestmma.com/wp-content/uploads/2015/05/Karate-Equipment-for-Kids.jpg)"></div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url(http://static.tumblr.com/a0b8d1ad7b0e8db9c0d07ab635f6c18c/tzzpr01/y8ro11x65/tumblr_static_99mstqcblvcwc8ws80k4c8004.jpg)"></div>
            </div>
        </section>
    </article>
    <article class="gallery-thumb">
        <section id="thumb" class="thumb owl-thumb">
            <div class="slide">
                <div class="img" data-key="1" style="background-image: url(http://www.donskie-sokoly.ru/_imag_images/110/1610-120.jpg)"></div>
            </div>
            <div class="slide">
                <div class="img" data-key="2" style="background-image: url(http://www.izvestiaur.ru/upload/iblock/67a/%D0%BA%D0%B0%D1%80%D0%B0%D1%82%D0%B5-fclub-spb.ru-800.jpg)"></div>
            </div>
            <div class="slide">
                <div class="img" data-key="3" style="background-image: url(http://novorossia.today/wp-content/uploads/2015/04/karate_prev.jpg)"></div>
            </div>
        </section>
    </article>
    <article class="event-view">
        <div class="row">
            <div class="column large-12 medium-10 small-centered">
                <div class="column large-4 small-12">
                    <ul class="event-info">
                        <li class="icon status">
                            Статус: <span>Скоро</span>
                        </li>
                        <li class="icon start">
                            Начало: <span>09:00 - 5 августа 2014</span>
                        </li>
                        <li class="icon ended">
                            Окончание: <span>15:00 - 6 августа 2014</span>
                        </li>
                        <li class="icon location">
                            Место: <span>ДС Партиком</span>
                        </li>
                        <li class="icon phone">
                            Телефон: <span>8(3452)610-690</span>
                        </li>
                        <li class="icon adress">
                            Адрес: <span>г.Тюмень, проезд Воронинские горки 101,к 2</span>
                        </li>
                    </ul>
                    <div class="event-info-btn">
                        <a href="#" class="button">Онлайн трансляция</a>
                    </div>
                </div>
                <div class="column large-8 small-12">
                    <iframe width="100%" height="380" src="https://www.youtube.com/embed/hXyhVwpERLo" frameborder="0" allowfullscreen></iframe>
                    <p>
                        Тюменские каратисты проверили свои силы на международном турнире «Baku Open», который проходил
                        13-14 сентября в столице Азербайджана – Баку.  В категории 14-15 лет до 57 кг воспитанникам
                        областной школы каратэ удалось завоевать две бронзы. Медали для Тюменской
                    </p>
                    <p>
                        Оба спортсмена в тяжелейшей борьбе уступили в полуфинале хозяевам турнира. Бой за бронзовую
                        медаль для Баталова стал пятым на турнире, для Хусаинова четвертым. К сожалению, не удалось
                        побороться за медали ещё двум спортсменам, представлявшим Тюменскую область Семену Ледницкому в
                        категории 14-15 лет до 52 кг и Ришаду Тимерзянову в категории 16-17 лет до 61 кг. Все представители
                        сборной команды Тюменской области по каратэ, выступавшие на данном турнире, тренируются по
                        руководством главного тренера сборной Тюменской области Юрия Калашникова.
                    </p>
                    <p>
                        Данный турнир проводится ежегодно и традиционно собирает сильнейшие команды Азии, такие как Турция
                        и Иран. В этом году «Baku Open» собрал представителей  двенадцати стран. Основную  конкуренцию
                        гостям составили, конечно же, хозяева турнира, сборная  Азербайджана, которая на данный момент
                        является действующим Чемпионом Европы в самом престижном разделе соревнований по каратэ «командное
                        кумитэ». Напомним, что эта поездка входила в план подготовки наших спортсменов к Первенству России,
                        которое состоится в ноябре этого года в Чехове.
                    </p>
                </div>
            </div>
        </div>
    </article>
    <article class="table">
        <div class="row">
            <div class="column large-12">
                <h2>Результаты события</h2>
            </div>
        </div>
        <div class="row">
            <div class="column large-12">
                <table>
                    <thead>
                    <tr>
                        <th width="200">Table Header</th>
                        <th>Table Header</th>
                        <th width="150">Table Header</th>
                        <th width="150">Table Header</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                        <td>Content Goes Here</td>
                        <td>Content Goes Here</td>
                    </tr>
                    <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                        <td>Content Goes Here</td>
                        <td>Content Goes Here</td>
                    </tr>
                    <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                        <td>Content Goes Here</td>
                        <td>Content Goes Here</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
    <article class="news-preview light--gray">
        <div class="row">
            <div class="column large-12">
                <h2>Другие события</h2>
            </div>
        </div>
        <section class="slide-item owl-events">
            <div class="item">
                <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                <div class="container">
                    <div class="date">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                            <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                        </svg>
                        25 Сентября 2016
                    </div>
                    <a href="#" class="title">Тюменцы одержали победу в международных соревнованиях</a>
                </div>
            </div>
            <div class="item">
                <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                <div class="container">
                    <div class="date">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                            <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                        </svg>
                        25 Сентября 2016
                    </div>
                    <a href="#" class="title">Тюменцы одержали победу в международных соревнованиях</a>
                </div>
            </div>
            <div class="item">
                <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                <div class="container">
                    <div class="date">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                            <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                        </svg>
                        25 Сентября 2016
                    </div>
                    <a href="#" class="title">Тюменцы одержали победу в международных соревнованиях</a>
                </div>
            </div>
            <div class="item">
                <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                <div class="container">
                    <div class="date">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                            <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                        </svg>
                        25 Сентября 2016
                    </div>
                    <a href="#" class="title">Тюменцы одержали победу в международных соревнованиях</a>
                </div>
            </div>
        </section>
        <div class="row slide-item-control">
            <div class="column large-8 hide-for-small-only hide-for-medium-only">
                <h3>Оставайтесь в курсе событий</h3>
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне.
            </div>
            <div class="column large-4 medium-12 small-12 large-text-right text-center">
                <a href="#" class="button">Все события</a>
                <div class="custom-nav"></div>
            </div>
        </div>
    </article>
    @@include('./templates/gallery.html')
@@include('./templates/footer.html')