@@include('./templates/head.html', { "title": "Спортсмены - Федерация" })
@@include('./templates/header.html')
<article class="banner-title">
    <div class="wrapper">
        <div class="container">
            <div class="row collapse">
                <div class="column large-8 end">
                    <div class="title"><span>О федерации</span></div>
                    <div class="description"><span>Спортсмены</span></div>
                </div>
            </div>
        </div>
    </div>
    <section class="slider owl-carousel">
        <div class="slide">
            <div class="img" style="background-image: url(img/TEMP/image1.jpg)"></div>
        </div>
        <div class="slide">
            <div class="img" style="background-image: url(http://allbestmma.com/wp-content/uploads/2015/05/Karate-Equipment-for-Kids.jpg)"></div>
        </div>
        <div class="slide">
            <div class="img" style="background-image: url(http://static.tumblr.com/a0b8d1ad7b0e8db9c0d07ab635f6c18c/tzzpr01/y8ro11x65/tumblr_static_99mstqcblvcwc8ws80k4c8004.jpg)"></div>
        </div>
    </section>
</article>
<article class="section">
    <div class="row">
        <div class="column large-12">
            <h2>Лучшие спортсмены</h2>
        </div>
        <div class="owl-carousel slider-best">
            <div class="row trainer">
                <div class="column large-4">
                    <div class="video-author">
                        <video poster="img/TEMP/author.jpg">
                            <source src="video/author.mp4">
                        </video>
                    </div>
                    <div class="author">
                        <div class="name">Усенок Юрий Иванович</div>
                        Вице-президент ФКТО МСМК,
                        Судья межденародной категории,
                        Тренер 1 категории.
                    </div>
                </div>
                <div class="column large-8">
                    <p>Родился 9 апреля 1982 года в Тюмень.</p>
                    <p>В 1992 г. поступил в ДЮСШ «Водник». Тренировался под руководством тренера  Андрея Кирьянова.
                        В 1993 году перешёл к Андрею Михайловичу Коряковцеву, в 1995 году – к Георгию Геннадьевичу Хижнякову.</p>
                    <p>1999 – 2004 гг. – получил высшее образование в Тюменском государственном университете на филологическом факультете по специальности  «Филолог-преподаватель».</p>
                    <p>С 2003 года и по настоящее время является тренером-преподавателем Федерации каратэ Тюменской области.</p>
                    <p>2004 - 2007 гг. – аспирант  Института физической культуры и спорта при ТГУ кафедры теоретических основ физического воспитания.</p>
                    <p>2008 – 20011 гг. – получил второе высшее образование в Институте дополнительного профессионального образования при ТГУ по специальности «Экономика и управление на предприятии»...</p>
                    <a href="#" class="button">Подробнее</a>
                </div>
            </div>
            <div class="row trainer">
                <div class="column large-4">
                    <div class="video-author">
                        <video poster="img/TEMP/author.jpg">
                            <source src="video/author.mp4">
                        </video>
                    </div>
                    <div class="author">
                        <div class="name">Усенок Юрий Иванович</div>
                        Вице-президент ФКТО МСМК,
                        Судья межденародной категории,
                        Тренер 1 категории.
                    </div>
                </div>
                <div class="column large-8">
                    <p>Родился 9 апреля 1982 года в Тюмень.</p>
                    <p>В 1992 г. поступил в ДЮСШ «Водник». Тренировался под руководством тренера  Андрея Кирьянова.
                        В 1993 году перешёл к Андрею Михайловичу Коряковцеву, в 1995 году – к Георгию Геннадьевичу Хижнякову.</p>
                    <p>1999 – 2004 гг. – получил высшее образование в Тюменском государственном университете на филологическом факультете по специальности  «Филолог-преподаватель».</p>
                    <p>С 2003 года и по настоящее время является тренером-преподавателем Федерации каратэ Тюменской области.</p>
                    <p>2004 - 2007 гг. – аспирант  Института физической культуры и спорта при ТГУ кафедры теоретических основ физического воспитания.</p>
                    <p>2008 – 20011 гг. – получил второе высшее образование в Институте дополнительного профессионального образования при ТГУ по специальности «Экономика и управление на предприятии»...</p>
                    <a href="#" class="button">Подробнее</a>
                </div>
            </div>
            <div class="row trainer">
                <div class="column large-4">
                    <div class="video-author">
                        <video poster="img/TEMP/author.jpg">
                            <source src="video/author.mp4">
                        </video>
                    </div>
                    <div class="author">
                        <div class="name">Усенок Юрий Иванович</div>
                        Вице-президент ФКТО МСМК,
                        Судья межденародной категории,
                        Тренер 1 категории.
                    </div>
                </div>
                <div class="column large-8">
                    <p>Родился 9 апреля 1982 года в Тюмень.</p>
                    <p>В 1992 г. поступил в ДЮСШ «Водник». Тренировался под руководством тренера  Андрея Кирьянова.
                        В 1993 году перешёл к Андрею Михайловичу Коряковцеву, в 1995 году – к Георгию Геннадьевичу Хижнякову.</p>
                    <p>1999 – 2004 гг. – получил высшее образование в Тюменском государственном университете на филологическом факультете по специальности  «Филолог-преподаватель».</p>
                    <p>С 2003 года и по настоящее время является тренером-преподавателем Федерации каратэ Тюменской области.</p>
                    <p>2004 - 2007 гг. – аспирант  Института физической культуры и спорта при ТГУ кафедры теоретических основ физического воспитания.</p>
                    <p>2008 – 20011 гг. – получил второе высшее образование в Институте дополнительного профессионального образования при ТГУ по специальности «Экономика и управление на предприятии»...</p>
                    <a href="#" class="button">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</article>
<article class="trainers">
    <div class="row">
        <div class="column large-12">
            <h2>Действующие спортсмены</h2>
        </div>
    </div>
    <div class="slide-item owl-carousel">
        <div class="item">
            <div class="video-author">
                <video poster="img/TEMP/author.jpg">
                    <source src="video/author.mp4">
                </video>
            </div>
            <div class="author">
                <div class="name">Усенок Юрий Иванович</div>
                Вице-президент ФКТО МСМК,
                Судья межденародной категории,
                Тренер 1 категории.
            </div>
        </div>
        <div class="item">
            <div class="video-author">
                <video poster="img/TEMP/author.jpg">
                    <source src="video/author.mp4">
                </video>
            </div>
            <div class="author">
                <div class="name">Усенок Юрий Иванович</div>
                Вице-президент ФКТО МСМК,
                Судья межденародной категории,
                Тренер 1 категории.
            </div>
        </div>
        <div class="item">
            <div class="video-author">
                <video poster="img/TEMP/author.jpg">
                    <source src="video/author.mp4">
                </video>
            </div>
            <div class="author">
                <div class="name">Усенок Юрий Иванович</div>
                Вице-президент ФКТО МСМК,
                Судья межденародной категории,
                Тренер 1 категории.
            </div>
        </div>
        <div class="item">
            <div class="video-author">
                <video poster="img/TEMP/author.jpg">
                    <source src="video/author.mp4">
                </video>
            </div>
            <div class="author">
                <div class="name">Усенок Юрий Иванович</div>
                Вице-президент ФКТО МСМК,
                Судья межденародной категории,
                Тренер 1 категории.
            </div>
        </div>
    </div>
    <div class="row slide-item-control">
        <div class="column small-12 text-center">
            <div class="custom-nav"></div>
        </div>
    </div>
</article>
@@include('./templates/footer.html')