@@include('./templates/head.html', { "title": "Документы - Федерация" })
@@include('./templates/header.html')
<article class="banner-title">
    <div class="wrapper">
        <div class="container">
            <div class="row collapse">
                <div class="column large-8 end">
                    <div class="title"><span>О федерации</span></div>
                    <div class="description"><span>Документы</span></div>
                </div>
            </div>
        </div>
    </div>
    <section class="slider owl-carousel">
        <div class="slide">
            <div class="img" style="background-image: url(img/TEMP/image1.jpg)"></div>
        </div>
        <div class="slide">
            <div class="img" style="background-image: url(http://allbestmma.com/wp-content/uploads/2015/05/Karate-Equipment-for-Kids.jpg)"></div>
        </div>
        <div class="slide">
            <div class="img" style="background-image: url(http://static.tumblr.com/a0b8d1ad7b0e8db9c0d07ab635f6c18c/tzzpr01/y8ro11x65/tumblr_static_99mstqcblvcwc8ws80k4c8004.jpg)"></div>
        </div>
    </section>
</article>
<article class="view">
    <div class="row">
        <div class="column small-12">
            В данном разделе находятся официальные документы Федерации каратэ Тюменской области.Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.В данном разделе находятся официальные документы Федерации каратэ Тюменской области.Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        </div>
    </div>
    <div class="row docs">
        <div class="column small-12">
            <h2>Официальные документы</h2>
        </div>
        <div class="column small-12 medium-6">
            <a href="#" class="item" data-format=".txt">
                <div class="title">
                    Положение открытого чемпионата и первентства СЗФО по КАРАТЭ WKF
                    <span>PDF, 353 Mb</span>
                </div>
            </a>
        </div>
        <div class="column small-12 medium-6">
            <a href="#" class="item" data-format=".pdf">
                <div class="title">
                    Положение открытого чемпионата и первентства СЗФО по КАРАТЭ WKF
                    <span>PDF, 353 Mb</span>
                </div>
            </a>
        </div>
        <div class="column small-12 medium-6">
            <a href="#" class="item" data-format=".txt">
                <div class="title">
                    Положение открытого чемпионата и первентства СЗФО по КАРАТЭ WKF
                    <span>PDF, 353 Mb</span>
                </div>
            </a>
        </div>
        <div class="column small-12 medium-6">
            <a href="#" class="item" data-format=".pdf">
                <div class="title">
                    Положение открытого чемпионата и первентства СЗФО по КАРАТЭ WKF
                    <span>PDF, 353 Mb</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row rules">
        <div class="column small-12">
            <h2>Правила и регламенты</h2>
        </div>
        <div class="column small-12">
            <ul>
                <li>Положение и регламент соревнований <span>(<a href="#">Скачать</a>,PDF, 20 Mb)</span></li>
                <li>Положение открытого чемпионата и первентства СЗФО по КАРАТЭ WKF <span>(<a href="#">Скачать</a>,PDF, 20 Mb)</span></li>
                <li>Выписка из единого календарного плана, межрегиональных, всероссийских и международных физкультурных мероприятий и спортивныхмероприятий на 2016 год <span>(<a href="#">Скачать</a>,PDF, 20 Mb)</span></li>
            </ul>
        </div>
    </div>
</article>
@@include('./templates/footer.html')