@@include('./templates/head.html', { "title": "Спортсмены - Федерация" })
@@include('./templates/header.html')
<article class="banner-title">
    <div class="wrapper">
        <div class="container">
            <div class="row collapse">
                <div class="column large-8 end">
                    <div class="title"><span>Галлереи</span></div>
                </div>
            </div>
        </div>
    </div>
    <section class="slider owl-carousel">
        <div class="slide">
            <div class="img" style="background-image: url(img/TEMP/image1.jpg)"></div>
        </div>
        <div class="slide">
            <div class="img" style="background-image: url(http://allbestmma.com/wp-content/uploads/2015/05/Karate-Equipment-for-Kids.jpg)"></div>
        </div>
        <div class="slide">
            <div class="img" style="background-image: url(http://static.tumblr.com/a0b8d1ad7b0e8db9c0d07ab635f6c18c/tzzpr01/y8ro11x65/tumblr_static_99mstqcblvcwc8ws80k4c8004.jpg)"></div>
        </div>
    </section>
</article>
<article class="view">
    <div class="row">
        <div class="column small-12">
            Здесь вы найдете фотографии всех значимых мероприятий федерации,  снимки тюменских каратистов, а так же в разделе представлены видеозаписи трансляций спортивных событий, проводимых федерацией, и интервью со «звездами» тюменского каратэ.
        </div>
    </div>
    <div class="row photos">
        <div class="column small-12">
            <h2>Фотоархив</h2>
        </div>
        <div data-open="gallery" class="item column large-4 medium-6 small-12">
            <div class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);">
                <div class="title">
                    Тюменцы одержали победу в международных соревнованиях
                </div>
            </div>
        </div>
        <div data-open="gallery" class="item column large-4 medium-6 small-12">
            <div class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);">
                <div class="title">
                    Тюменцы одержали победу в международных соревнованиях
                </div>
            </div>
        </div>
        <div data-open="gallery" class="item column large-4 medium-6 small-12">
            <div class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);">
                <div class="title">
                    Тюменцы одержали победу в международных соревнованиях
                </div>
            </div>
        </div>
        <div data-open="gallery" class="item column large-4 medium-6 small-12">
            <div class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);">
                <div class="title">
                    Тюменцы одержали победу в международных соревнованиях
                </div>
            </div>
        </div>
        <div data-open="gallery" class="item column large-4 medium-6 small-12">
            <div class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);">
                <div class="title">
                    Тюменцы одержали победу в международных соревнованиях
                </div>
            </div>
        </div>
        <div data-open="gallery" class="item column large-4 medium-6 small-12">
            <div class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);">
                <div class="title">
                    Тюменцы одержали победу в международных соревнованиях
                </div>
            </div>
        </div>
        <div class="column small-12 text-center">
            <button class="button">Показать еще</button>
        </div>
    </div>
    <div class="row videos">
        <div class="column small-12">
            <h2>Видеоархив</h2>
        </div>
        <div class="column small-12">
            <section class="slide-item-2 owl-carousel">
                <div data-open="video" class="item">
                    <div class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></div>
                    <div class="container">
                        <div class="title">Тюменцы одержали победу</div>
                    </div>
                </div>
                <div data-open="video" class="item">
                    <div class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></div>
                    <div class="container">
                        <div class="title">Тюменцы одержали победу</div>
                    </div>
                </div>
                <div data-open="video" class="item">
                    <div class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></div>
                    <div class="container">
                        <div class="title">Тюменцы одержали победу</div>
                    </div>
                </div>
                <div data-open="video" class="item">
                    <div class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></div>
                    <div class="container">
                        <div class="title">Тюменцы одержали победу</div>
                    </div>
                </div>
            </section>
            <div class="row slide-item-control">
                <div class="column small-12 text-center">
                    <div class="custom-nav-2"></div>
                </div>
            </div>
        </div>
    </div>
</article>
@@include('./templates/gallery.html')
@@include('./templates/video.html')
@@include('./templates/footer.html')