@@include('./templates/head.html', { "title": "История - Федерация" })
@@include('./templates/header.html')
<article class="banner-title">
    <div class="wrapper">
        <div class="container">
            <div class="row collapse">
                <div class="column large-8 end">
                    <div class="title"><span>О федерации</span></div>
                    <div class="description"><span>История</span></div>
                </div>
            </div>
        </div>
    </div>
    <section class="slider owl-carousel">
        <div class="slide">
            <div class="img" style="background-image: url(img/TEMP/image1.jpg)"></div>
        </div>
        <div class="slide">
            <div class="img" style="background-image: url(http://allbestmma.com/wp-content/uploads/2015/05/Karate-Equipment-for-Kids.jpg)"></div>
        </div>
        <div class="slide">
            <div class="img" style="background-image: url(http://static.tumblr.com/a0b8d1ad7b0e8db9c0d07ab635f6c18c/tzzpr01/y8ro11x65/tumblr_static_99mstqcblvcwc8ws80k4c8004.jpg)"></div>
        </div>
    </section>
</article>
<article class="view">
    <div class="row">
        <div class="column large-12">
            <p>
                Федерация каратэ Тюменской области работает с 1989 года и к настоящему моменту стала одной из ведущих в России. Тюменские спортсмены на протяжении последних пяти лет составляют костяк национальной сборной страны. В их числе мастера спорта международного класса Юрий Калашников, Артур Асланян, Евгений Гурбо и Юрий Усенок, которые неоднократно становились победителями и призерами чемпионатов России, Европы и мира.
            </p>
            <p>
                20 ноября 1978 года знаменитый тюменский педагог, начальник единственного в городе и области подросткового клуба с секцией каратэ «Дзержинец» Геннадий Александрович Нечаев приказал «назначить тренером по каратэ лейтенанта внутренней службы войсковой части 6571 Вячеслава Александровича Широкого». В секцию на тот момент было записано 16 парней и 2 девушки. Через 2 месяца в газете «Тюменская правда» появилась первая заметка о тюменских каратистах. Название у заметки было весьма точным – «Начало». В ней кратко рассказывалось, что спортсмены встретились со своими единомышленниками из Свердловска, Ессентуков и Магнитогорска, а затем в зале Тюменского индустриального института и провели показательные выступления, продемонстрировав, что каратэ в Тюмени – это серьёзно.
            </p>
            <p>
                <img class="left" src="http://veralline.com/uploads/images/comparison/2015/05/05/80843e30dc.jpg">
                <p>Секция тренера Широкого стала необычайно популярна в городе. Офицер милиции Нечаев и офицер советской армии Широкий закладывали традиции использования искусства восточного рукопашного боя прежде всего для воспитания в тюменских подростках уважения и любви к своей Родине.</p>

                <p>В 1989 году в Тюмени был создан Областной спортивный клуб «Восточные единоборства». Из разрозненных секций и клубов начала формироваться единая общенациональная спортивная структура.</p>

                В 1991 году тюменцы в числе первых стали учредителями «Российской федерации каратэ». Комитет по физической культуре и спорту администрации области активно поддержал эту инициативу, а вскоре была создана и Областная Федерация Каратэ.
            </p>
            <p>
                В период с 1991 года по 1996 год проводились многочисленные областные соревнования. Бойцы из Тюменской области начали завоёвывать призовые места на Чемпионатах России и международных соревнованиях. Одним из первых добился высоких результатов Георгий Геннадьевич Хижняков , первым тренером которого был еще один фанат каратэ того времени Виктор Алексеевич Егоров. Он является бронзовым призёром Первенства СССР 1990г., победителем Первенства России 1993г., чемпионом России 1994г., бронзовым призёром международного турнира по каратэ группы А. Воспитанник Широкого Вячеслава Александровича Мирашниченко Генадий Генадьевич два раза становился чемпионом России по каратэ и был победителем чемпионата Европы по каратэ Вадо-кай.
            </p>
            <p>
                <img class="right" src="http://veralline.com/uploads/images/comparison/2015/05/05/80843e30dc.jpg">
                Тренерскую деятельность Георгий Хижняков начал в 17 лет. С 1990 года по 1993 год работал в детско-подростковом клубе «Старт». С 1993 по 1994 год тренировался и работал в ДЮСШ «Восточные единоборства» под руководством Вячеслава Широкого. Когда Вячеслав Александрович предложил развивать каратэ по всему городу, они разделились, и далее Георгий работал с 1994 по 2006 года в ДЮСШ «Водник». Вместе с ним тренировки проводил тренер Коряковцев Андрей Михайлович.
                <p>
                    За время работы тренером-преподавателем Хижняков внёс немалый вклад в развитие каратэ в Тюмени, Тюменской области и России. Воспитал 13 кандидатов в мастера спорта, 8 мастеров спорта России и 5 мастеров спорта России международного класса. Имеет почётное звание «Заслуженный тренер России». Под его руководством спортсмены Тюменской области не раз поднимались на пьедестал почёта на Чемпионатах Мира и Европы. Имеет правительственную благодарность «За большой вклад в развитие физической культуры и спорта».  С 2002 по 2003 год являлся главным тренером юниорской сборной команды России по каратэ. С 2003 года по 2004 год – старший тренер взрослой сборной команды России. В 2004 году назначен главным тренером взрослой сборной команды России.
                </p>
            </p>
        </div>
    </div>
</article>
@@include('./templates/footer.html')