@@include('./templates/head.html', { "title": "Главная - Федерация каратэ тюменской области" })
@@include('./templates/header.html')
    <article class="fscr">
        <section class="slider full owl-carousel">
            <div class="slide">
                <div class="img" style="background-image: url(img/TEMP/image1.jpg)"></div>
                <div class="wrapper">
                    <div class="container">
                        <div class="row collapse">
                            <div class="column large-8 end">
                                <div class="title"><span>Набор в секцию каратэ-1</span></div>
                                <div class="description grey"><span>Детей с 9 до 12 лет</span></div>
                                <a href="#" class="button">Записаться</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url(http://allbestmma.com/wp-content/uploads/2015/05/Karate-Equipment-for-Kids.jpg)"></div>
                <div class="wrapper">
                    <div class="container">
                        <div class="row collapse">
                            <div class="column large-8 end">
                                <div class="title"><span>Набор в секцию каратэ-2</span></div>
                                <div class="description grey"><span>Детей с 9 до 12 лет</span></div>
                                <a href="#" class="button">Записаться</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url(http://static.tumblr.com/a0b8d1ad7b0e8db9c0d07ab635f6c18c/tzzpr01/y8ro11x65/tumblr_static_99mstqcblvcwc8ws80k4c8004.jpg)"></div>
                <div class="wrapper">
                    <div class="container">
                        <div class="row collapse">
                            <div class="column large-8 end">
                                <div class="title"><span>Набор в секцию каратэ-3</span></div>
                                <div class="description grey"><span>Детей с 9 до 12 лет</span></div>
                                <a href="#" class="button">Записаться</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a href="#" class="mouse_scroll">
            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="16" height="26" viewBox="0 0 16 26"><path d="M8 0C3.581 0 0 3.637 0 8.125v9.75C0 22.363 3.581 26 8 26c4.419 0 8-3.637 8-8.125v-9.75C16 3.637 12.419 0 8 0zm1.6 9.75c0 .898-.716 1.625-1.6 1.625-.884 0-1.6-.727-1.6-1.625V4.875c0-.898.716-1.625 1.6-1.625.884 0 1.6.727 1.6 1.625V9.75z" class="icon"/></svg>
        </a>
    </article>
    <article class="advantages light--gray">
        <div class="row">
            <div class="column large-3 medium-6 item">
                <div class="count">
                    10
                </div>
                Более 10 лет успешной работы
            </div>
            <div class="column large-3 medium-6 item">
                <div class="count">
                    250
                </div>
                Воспитанников ежегодно занимается в наших учреждениях
            </div>
            <div class="column large-3 medium-6 item">
                <div class="count">
                    25
                </div>
                Наград и призовых мест
            </div>
            <div class="column large-3 medium-6 item">
                <div class="count">
                    18
                </div>
                Лучших и квалифицированных тренеров
            </div>
        </div>
    </article>
    <article class="greeting">
        <div class="row">
            <div class="column large-10 large-centered">
                <div class="column large-4 video-author">
                    <video poster="img/TEMP/author.jpg">
                        <source src="video/author.mp4">
                    </video>
                </div>
                <div class="column large-8">
                    <p class="quote">
                        Каратэ – это прекраснейшее искусство, я многие годы являюсь истинным его ценителем. Поэтому стремлюсь сделать каждый чемпионат на самом высоком уровне. В последние годы Тюмень по праву можно назвать спортивной столицей Сибири. В нашем городе систематически проходят соревнования Европейского и Мирового уровня по разным видам спорта. Федерация каратэ Тюменской области имеет большой опыт в проведении турниров разного уровня, у нас профессиональная команда организаторов, и наша цель – популяризация и развитие каратэ.
                    </p>
                    <div class="author">
                        <div class="name">Усенок Юрий Иванович</div>
                        Вице-президент ФКТО МСМК,
                        Судья межденародной категории,
                        Тренер 1 категории.
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="news-preview light--gray is-main">
    <div class="row">
        <div class="column large-12">
            <h2>Последние новости</h2>
        </div>
    </div>
    <section class="slide-item-2 owl-events">
        <div class="item">
            <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
            <div class="container">
                <div class="date">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                        <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                    </svg>
                    25 Сентября 2016
                </div>
                <a href="#" class="title">Тюменцы одержали победу в международных соревнованиях</a>
            </div>
        </div>
        <div class="item">
            <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
            <div class="container">
                <div class="date">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                        <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                    </svg>
                    25 Сентября 2016
                </div>
                <a href="#" class="title">Тюменцы одержали победу в международных соревнованиях</a>
            </div>
        </div>
        <div class="item">
            <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
            <div class="container">
                <div class="date">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                        <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                    </svg>
                    25 Сентября 2016
                </div>
                <a href="#" class="title">Тюменцы одержали победу в международных соревнованиях</a>
            </div>
        </div>
        <div class="item">
            <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
            <div class="container">
                <div class="date">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                        <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                    </svg>
                    25 Сентября 2016
                </div>
                <a href="#" class="title">Тюменцы одержали победу в международных соревнованиях</a>
            </div>
        </div>
    </section>
    <div class="row slide-item-control">
        <div class="column small-12 large-text-right text-center">
            <a href="#" class="button">Все новости</a>
            <div class="custom-nav-2"></div>
        </div>
    </div>
</article>
    <article class="events light--gray is-main">
        <div class="row">
            <div class="column large-12">
                <h2>Ближайшие мероприятия</h2>
            </div>
        </div>
        <section class="slide-item owl-events">
            <div class="item">
                <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                <div class="container">
                    <a href="#" class="title">Тюменцы одержали победу в международных соревнованиях</a>
                    <div class="date">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                            <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                        </svg>
                        25 Сентября 2016
                    </div>
                    <div class="preview">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                <div class="container">
                    <a href="#" class="title">Тюменцы одержали победу</a>
                    <div class="date">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                            <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                        </svg>
                        25 Сентября 2016
                    </div>
                    <div class="preview">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                <div class="container">
                    <a href="#" class="title">Тюменцы одержали победу</a>
                    <div class="date">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                            <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                        </svg>
                        25 Сентября 2016
                    </div>
                    <div class="preview">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                <div class="container">
                    <a href="#" class="title">Тюменцы одержали победу</a>
                    <div class="date">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                            <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                        </svg>
                        25 Сентября 2016
                    </div>
                    <div class="preview">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="img" style="background-image: url(http://yoga-warrior.ru/images/4039323_large.jpg);"></a>
                <div class="container">
                    <a href="#" class="title">Тюменцы одержали победу</a>
                    <div class="date">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 64 64">
                            <path d="M59.998,64.000 L3.998,64.000 C1.787,64.000 0.000,62.211 0.000,60.000 L0.000,8.000 C0.000,5.789 1.787,4.000 3.998,4.000 L8.000,4.000 L8.000,8.000 C8.000,10.211 9.787,12.000 11.998,12.000 L19.998,12.000 C22.209,12.000 24.000,10.211 24.000,8.000 L24.000,4.000 L40.000,4.000 L40.000,8.000 C40.000,10.211 41.787,12.000 43.998,12.000 L51.998,12.000 C54.209,12.000 56.000,10.211 56.000,8.000 L56.000,4.000 L59.998,4.000 C62.209,4.000 64.000,5.789 64.000,8.000 L64.000,60.000 C64.000,62.211 62.209,64.000 59.998,64.000 ZM60.000,44.000 L44.000,44.000 L44.000,32.000 L60.000,32.000 L60.000,28.000 L44.000,28.000 L44.000,16.000 L40.000,16.000 L40.000,28.000 L24.000,28.000 L24.000,16.000 L20.000,16.000 L20.000,28.000 L4.000,28.000 L4.000,32.000 L20.000,32.000 L20.000,44.000 L4.000,44.000 L4.000,48.000 L20.000,48.000 L20.000,60.000 L24.000,60.000 L24.000,48.000 L40.000,48.000 L40.000,60.000 L44.000,60.000 L44.000,48.000 L60.000,48.000 L60.000,44.000 ZM24.000,32.000 L40.000,32.000 L40.000,44.000 L24.000,44.000 L24.000,32.000 ZM43.998,0.000 L51.998,0.000 L51.998,8.000 L43.998,8.000 L43.998,0.000 ZM11.998,0.000 L19.998,0.000 L19.998,8.000 L11.998,8.000 L11.998,0.000 Z" class="cls-1"/>
                        </svg>
                        25 Сентября 2016
                    </div>
                    <div class="preview">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...
                    </div>
                </div>
            </div>
        </section>
        <div class="row slide-item-control">
            <div class="column large-8 hide-for-small-only hide-for-medium-only">
                <h3>Оставайтесь в курсе событий</h3>
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб-дизайне.
            </div>
            <div class="column large-4 medium-12 small-12 large-text-right text-center">
                <a href="#" class="button">Все события</a>
                <div class="custom-nav"></div>
            </div>
        </div>
    </article>
    <article class="partners light--gray">
        <div class="partners-slider owl-carousel">
            <div class="item">
                <div class="logo" style="background-image: url(http://toplogos.ru/images/logo-olympic.png);"></div>
                <div class="name">
                    Название партнера
                </div>
                <div class="status">
                    Статус партнера
                </div>
            </div>
            <div class="item">
                <div class="logo" style="background-image: url(http://toplogos.ru/images/logo-olympic.png);"></div>
                <div class="name">
                    Название партнера
                </div>
                <div class="status">
                    Статус партнера
                </div>
            </div>
            <div class="item">
                <div class="logo" style="background-image: url(http://toplogos.ru/images/logo-olympic.png);"></div>
                <div class="name">
                    Название партнера
                </div>
                <div class="status">
                    Статус партнера
                </div>
            </div>
            <div class="item">
                <div class="logo" style="background-image: url(http://toplogos.ru/images/logo-olympic.png);"></div>
                <div class="name">
                    Название партнера
                </div>
                <div class="status">
                    Статус партнера
                </div>
            </div>
            <div class="item">
                <div class="logo" style="background-image: url(http://toplogos.ru/images/logo-olympic.png);"></div>
                <div class="name">
                    Название партнера
                </div>
                <div class="status">
                    Статус партнера
                </div>
            </div>
            <div class="item">
                <div class="logo" style="background-image: url(http://toplogos.ru/images/logo-olympic.png);"></div>
                <div class="name">
                    Название партнера
                </div>
                <div class="status">
                    Статус партнера
                </div>
            </div>
            <div class="item">
                <div class="logo" style="background-image: url(http://toplogos.ru/images/logo-olympic.png);"></div>
                <div class="name">
                    Название партнера
                </div>
                <div class="status">
                    Статус партнера
                </div>
            </div>
        </div>
        <div class="partners-nav"></div>
    </article>
    <article class="map">
        <div class="overlay"></div>
        <div id="map-centers"></div>
        <div class="slide-panel active">
            <button class="close-slide-panel">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14" height="14" viewBox="0 0 16 16">
                    <path d="M10.264,8.018 L15.558,2.716 C16.182,2.091 16.117,1.141 15.493,0.518 C14.869,-0.107 13.908,-0.157 13.284,0.469 L8.005,5.755 L2.741,0.486 C2.120,-0.139 1.091,-0.159 0.466,0.468 C-0.158,1.093 -0.145,2.118 0.479,2.743 L5.746,8.018 L0.491,13.279 C-0.133,13.905 -0.070,14.857 0.554,15.480 C1.178,16.105 2.133,16.163 2.757,15.536 L8.005,10.280 L13.256,15.541 C13.880,16.166 14.856,16.132 15.480,15.505 C16.104,14.880 16.186,13.949 15.562,13.324 L10.264,8.018 Z"/>
                </svg>
            </button>
            <ul class="contacts">
                <li class="location">
                    Федерация каратэ Тюменской области
                    <span>проезд Ворониские горки, 101/2</span>
                </li>
                <li class="phone">
                    8 (3452) 610-690
                </li>
                <li class="phone">
                    8 (3452) 610-690
                </li>
                <li class="timetable">
                    <div>Пн-Вт: <span>9:00-18:00</span>, обед: <span>13:00-14:30</span>.</div>
                    <div>Вc: <span>Выходной</span></div>
                </li>
            </ul>
            <div class="info">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            </div>
            <a href="#" class="button">Подробнее о зале</a>
        </div>
    </article>
    <article class="form">
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Задать вопрос</a></li>
            <li class="tabs-title"><a href="#panel2">Записаться</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <div class="row">
                    <div class="column large-5 medium-7 small-12 small-centered">
                        <form>
                            <div class="input-field">
                                <input type="text" id="first_name">
                                <label for="first_name">Ваше имя</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="phonenumber">
                                <label for="phonenumber">Номер телефона</label>
                            </div>
                            <div class="input-field">
                                <textarea id="question" class="materialize-textarea"></textarea>
                                <label for="question">Ваш вопрос?</label>
                            </div>
                            <input class="button" type="submit" name="Отправить">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tabs-panel" id="panel2">
                <div class="row">
                    <div class="column large-5 medium-7 small-12 small-centered">
                        <form>
                            <div class="input-field">
                                <input type="text" id="first_name">
                                <label for="first_name">Ваше имя</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="phonenumber">
                                <label for="phonenumber">Номер телефона</label>
                            </div>
                            <input class="button" type="submit" value="Записаться">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
@@include('./templates/footer.html')
