@@include('./templates/head.html', { "title": "Новости" })
@@include('./templates/header.html')
    <article class="banner-title">
        <div class="wrapper">
            <div class="container">
                <div class="row collapse">
                    <div class="column large-8 end">
                        <div class="title"><span>Новости</span></div>
                    </div>
                </div>
            </div>
        </div>
        <section class="slider owl-carousel">
            <div class="slide">
                <div class="img" style="background-image: url(img/TEMP/image1.jpg)"></div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url(http://allbestmma.com/wp-content/uploads/2015/05/Karate-Equipment-for-Kids.jpg)"></div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url(http://static.tumblr.com/a0b8d1ad7b0e8db9c0d07ab635f6c18c/tzzpr01/y8ro11x65/tumblr_static_99mstqcblvcwc8ws80k4c8004.jpg)"></div>
            </div>
        </section>
    </article>
    <article class="news">
        <section class="preview">
            <div class="row">
                <div class="column large-4 medium-7 small-10 small-centered large-uncentered">
                    <a href="news-view.html">
                        <div class="img" style="background-image: url(img/TEMP/image1.jpg)"></div>
                    </a>
                </div>
                <div class="column large-8 medium-7 small-10 small-centered">
                    <div class="wrapper">
                        <div class="container">
                            <a href="news-view.html" class="title">Тюменцы вернулись из Баку с медалями</a>
                            <div class="date">Опубликовано: 18 Сентября 2014 19:26</div>
                            <div class="text">
                                Тюменские каратисты проверили свои силы на международном турнире «Baku Open», который проходил 13-14 сентября в столице Азербайджана – Баку.  В категории 14-15 лет до 57 кг воспитанникам областной школы каратэ удалось завоевать две бронзы.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="preview">
            <div class="row">
                <div class="column large-4 medium-7 small-10 small-centered large-uncentered">
                    <a href="news-view.html">
                        <div class="img" style="background-image: url(img/TEMP/image1.jpg)"></div>
                    </a>
                </div>
                <div class="column large-8 medium-7 small-10 small-centered">
                    <div class="wrapper">
                        <div class="container">
                            <a href="news-view.html" class="title">Тюменцы вернулись из Баку с медалями</a>
                            <div class="date">Опубликовано: 18 Сентября 2014 19:26</div>
                            <div class="text">
                                Тюменские каратисты проверили свои силы на международном турнире «Baku Open», который проходил 13-14 сентября в столице Азербайджана – Баку.  В категории 14-15 лет до 57 кг воспитанникам областной школы каратэ удалось завоевать две бронзы.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="preview">
            <div class="row">
                <div class="column large-4 medium-7 small-10 small-centered large-uncentered">
                    <a href="news-view.html">
                        <div class="img" style="background-image: url(img/TEMP/image1.jpg)"></div>
                    </a>
                </div>
                <div class="column large-8 medium-7 small-10 small-centered">
                    <div class="wrapper">
                        <div class="container">
                            <a href="news-view.html" class="title">Тюменцы вернулись из Баку с медалями</a>
                            <div class="date">Опубликовано: 18 Сентября 2014 19:26</div>
                            <div class="text">
                                Тюменские каратисты проверили свои силы на международном турнире «Baku Open», который проходил 13-14 сентября в столице Азербайджана – Баку.  В категории 14-15 лет до 57 кг воспитанникам областной школы каратэ удалось завоевать две бронзы.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
    @@include('./templates/pagenav.html')
@@include('./templates/footer.html')