@@include('./templates/head.html', { "title": "Главная - Школа каратэ" })
@@include('./templates/header.html')
<article class="video-banner">
    <div class="video-background">
        <video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto" muted>
            <source src="video/bg_school.mp4">
        </video>
    </div>
    <div class="logo_school">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="68" height="85" viewBox="0 0 68 85">
            <path d="M63.185,85.004 L63.185,83.955 L66.629,83.955 L66.629,82.654 L64.168,82.654 L64.168,81.765 L66.629,81.765 L66.629,80.469 L63.185,80.469 L63.185,79.418 L67.994,79.418 L67.994,85.004 L63.185,85.004 ZM0.090,-0.006 L67.994,-0.006 L67.994,67.024 L0.090,67.024 L0.090,-0.006 ZM3.290,63.857 L64.797,63.857 L64.797,3.160 L3.290,3.160 L3.290,63.857 ZM45.134,54.771 L34.044,43.786 L22.951,54.771 L18.574,50.439 L26.568,42.524 L18.574,42.524 L18.574,36.396 L49.511,36.396 L49.511,42.524 L41.519,42.524 L49.511,50.439 L45.134,54.771 ZM43.322,12.246 L49.511,12.246 L49.511,30.270 L43.322,30.270 L43.322,12.246 ZM30.949,12.246 L37.134,12.246 L37.134,30.270 L30.949,30.270 L30.949,12.246 ZM18.648,12.246 L24.833,12.246 L24.833,30.270 L18.648,30.270 L18.648,12.246 ZM1.385,83.938 L2.767,83.938 L2.767,79.418 L4.147,79.418 L4.147,83.938 L5.527,83.938 L5.527,79.418 L6.904,79.418 L6.904,85.003 L0.004,85.003 L0.004,79.418 L1.385,79.418 L1.385,83.938 ZM9.932,81.686 L11.121,81.686 L12.068,79.418 L13.511,79.418 L12.346,82.208 L13.511,85.003 L12.068,85.003 L11.121,82.734 L9.932,82.734 L9.932,85.003 L8.567,85.003 L8.567,79.418 L9.932,79.418 L9.932,81.686 ZM19.899,85.003 L15.089,85.003 L15.089,79.418 L19.899,79.418 L19.899,85.003 ZM18.538,80.468 L16.456,80.468 L16.456,83.954 L18.538,83.954 L18.538,80.468 ZM25.702,79.418 L26.451,85.003 L25.085,85.003 L24.476,80.468 L23.332,80.468 L22.722,85.003 L21.357,85.003 L22.107,79.418 L25.702,79.418 ZM32.040,79.418 L32.789,85.003 L31.424,85.003 L31.212,83.408 L29.271,83.408 L29.060,85.003 L27.695,85.003 L28.445,79.418 L32.040,79.418 ZM31.087,82.519 L30.814,80.468 L29.671,80.468 L29.397,82.519 L31.087,82.519 ZM36.618,81.685 L37.806,81.685 L38.755,79.418 L40.196,79.418 L39.033,82.207 L40.196,85.004 L38.755,85.004 L37.806,82.735 L36.618,82.735 L36.618,85.004 L35.252,85.004 L35.252,79.418 L36.618,79.418 L36.618,81.685 ZM45.057,79.418 L45.810,85.004 L44.443,85.004 L44.231,83.408 L42.290,83.408 L42.079,85.004 L40.714,85.004 L41.465,79.418 L45.057,79.418 ZM44.106,82.519 L43.833,80.469 L42.691,80.469 L42.417,82.519 L44.106,82.519 ZM51.054,83.129 L48.041,83.129 L48.041,85.004 L46.681,85.004 L46.681,79.418 L51.054,79.418 L51.054,83.129 ZM49.694,80.469 L48.046,80.469 L48.046,82.076 L49.694,82.076 L49.694,80.469 ZM56.180,79.418 L56.927,85.004 L55.562,85.004 L55.350,83.408 L53.411,83.408 L53.199,85.004 L51.833,85.004 L52.585,79.418 L56.180,79.418 ZM55.227,82.519 L54.952,80.469 L53.809,80.469 L53.535,82.519 L55.227,82.519 ZM62.151,80.469 L60.427,80.469 L60.427,85.004 L59.063,85.004 L59.063,80.469 L57.341,80.469 L57.341,79.418 L62.151,79.418 L62.151,80.469 Z" class="white-fill"/>
        </svg>
    </div>
</article>
    <article class="advantages light--gray">
        <div class="row">
            <div class="column large-3 medium-6 item">
                <div class="count">
                    10
                </div>
                Более 10 лет успешной работы
            </div>
            <div class="column large-3 medium-6 item">
                <div class="count">
                    250
                </div>
                Воспитанников ежегодно занимается в наших учреждениях
            </div>
            <div class="column large-3 medium-6 item">
                <div class="count">
                    25
                </div>
                Наград и призовых мест
            </div>
            <div class="column large-3 medium-6 item">
                <div class="count">
                    18
                </div>
                Лучших и квалифицированных тренеров
            </div>
        </div>
    </article>
    <article class="view">
    <div class="row history">
        <div class="column small-12">
            <h2>История школы</h2>
        </div>
        <div class="column large-12">
            <p>
                Федерация каратэ Тюменской области работает с 1989 года и к настоящему моменту стала одной из ведущих в России. Тюменские спортсмены на протяжении последних пяти лет составляют костяк национальной сборной страны. В их числе мастера спорта международного класса Юрий Калашников, Артур Асланян, Евгений Гурбо и Юрий Усенок, которые неоднократно становились победителями и призерами чемпионатов России, Европы и мира.
            </p>
            <p>
                20 ноября 1978 года знаменитый тюменский педагог, начальник единственного в городе и области подросткового клуба с секцией каратэ «Дзержинец» Геннадий Александрович Нечаев приказал «назначить тренером по каратэ лейтенанта внутренней службы войсковой части 6571 Вячеслава Александровича Широкого». В секцию на тот момент было записано 16 парней и 2 девушки. Через 2 месяца в газете «Тюменская правда» появилась первая заметка о тюменских каратистах. Название у заметки было весьма точным – «Начало». В ней кратко рассказывалось, что спортсмены встретились со своими единомышленниками из Свердловска, Ессентуков и Магнитогорска, а затем в зале Тюменского индустриального института и провели показательные выступления, продемонстрировав, что каратэ в Тюмени – это серьёзно.
            </p>
        </div>
    </div>
    <div class="row trainer">
        <div class="column small-12">
            <h2>Руководители школы</h2>
        </div>
        <div class="column large-4">
            <div class="video-author">
                <video poster="img/TEMP/author.jpg">
                    <source src="video/author.mp4">
                </video>
            </div>
            <div class="author">
                <div class="name">Усенок Юрий Иванович</div>
                Вице-президент ФКТО МСМК,
                Судья межденародной категории,
                Тренер 1 категории.
            </div>
        </div>
        <div class="column large-8">
            <p>Родился 9 апреля 1982 года в Тюмень.</p>
            <p>В 1992 г. поступил в ДЮСШ «Водник». Тренировался под руководством тренера  Андрея Кирьянова.
                В 1993 году перешёл к Андрею Михайловичу Коряковцеву, в 1995 году – к Георгию Геннадьевичу Хижнякову.</p>
            <p>1999 – 2004 гг. – получил высшее образование в Тюменском государственном университете на филологическом факультете по специальности  «Филолог-преподаватель».</p>
            <p>С 2003 года и по настоящее время является тренером-преподавателем Федерации каратэ Тюменской области.</p>
            <p>2004 - 2007 гг. – аспирант  Института физической культуры и спорта при ТГУ кафедры теоретических основ физического воспитания.</p>
            <p>2008 – 20011 гг. – получил второе высшее образование в Институте дополнительного профессионального образования при ТГУ по специальности «Экономика и управление на предприятии»...</p>
            <a href="#" class="button">Подробнее</a>
        </div>
    </div>
    <div class="row trainer">
        <div class="column large-4">
            <div class="video-author">
                <video poster="img/TEMP/author.jpg">
                    <source src="video/author.mp4">
                </video>
            </div>
            <div class="author">
                <div class="name">Усенок Юрий Иванович</div>
                Вице-президент ФКТО МСМК,
                Судья межденародной категории,
                Тренер 1 категории.
            </div>
        </div>
        <div class="column large-8">
            <p>Родился 9 апреля 1982 года в Тюмень.</p>
            <p>В 1992 г. поступил в ДЮСШ «Водник». Тренировался под руководством тренера  Андрея Кирьянова.
                В 1993 году перешёл к Андрею Михайловичу Коряковцеву, в 1995 году – к Георгию Геннадьевичу Хижнякову.</p>
            <p>1999 – 2004 гг. – получил высшее образование в Тюменском государственном университете на филологическом факультете по специальности  «Филолог-преподаватель».</p>
            <p>С 2003 года и по настоящее время является тренером-преподавателем Федерации каратэ Тюменской области.</p>
            <p>2004 - 2007 гг. – аспирант  Института физической культуры и спорта при ТГУ кафедры теоретических основ физического воспитания.</p>
            <p>2008 – 20011 гг. – получил второе высшее образование в Институте дополнительного профессионального образования при ТГУ по специальности «Экономика и управление на предприятии»...</p>
            <a href="#" class="button">Подробнее</a>
        </div>
    </div>
    <div class="row trainer">
        <div class="column large-4">
            <div class="video-author">
                <video poster="img/TEMP/author.jpg">
                    <source src="video/author.mp4">
                </video>
            </div>
            <div class="author">
                <div class="name">Усенок Юрий Иванович</div>
                Вице-президент ФКТО МСМК,
                Судья межденародной категории,
                Тренер 1 категории.
            </div>
        </div>
        <div class="column large-8">
            <p>Родился 9 апреля 1982 года в Тюмень.</p>
            <p>В 1992 г. поступил в ДЮСШ «Водник». Тренировался под руководством тренера  Андрея Кирьянова.
                В 1993 году перешёл к Андрею Михайловичу Коряковцеву, в 1995 году – к Георгию Геннадьевичу Хижнякову.</p>
            <p>1999 – 2004 гг. – получил высшее образование в Тюменском государственном университете на филологическом факультете по специальности  «Филолог-преподаватель».</p>
            <p>С 2003 года и по настоящее время является тренером-преподавателем Федерации каратэ Тюменской области.</p>
            <p>2004 - 2007 гг. – аспирант  Института физической культуры и спорта при ТГУ кафедры теоретических основ физического воспитания.</p>
            <p>2008 – 20011 гг. – получил второе высшее образование в Институте дополнительного профессионального образования при ТГУ по специальности «Экономика и управление на предприятии»...</p>
            <a href="#" class="button">Подробнее</a>
        </div>
    </div>
</article>
<article class="trainers">
    <div class="row">
        <div class="column large-12">
            <h2>Тренеры</h2>
        </div>
    </div>
    <div class="slide-item owl-carousel">
        <a href="#" class="item">
            <div class="video-author">
                <video poster="img/TEMP/author.jpg">
                    <source src="video/author.mp4">
                </video>
            </div>
            <div class="author">
                <div class="name">Усенок Юрий Иванович</div>
                Вице-президент ФКТО МСМК,
                Судья межденародной категории,
                Тренер 1 категории.
            </div>
        </a>
        <a href="#" class="item">
            <div class="video-author">
                <video poster="img/TEMP/author.jpg">
                    <source src="video/author.mp4">
                </video>
            </div>
            <div class="author">
                <div class="name">Усенок Юрий Иванович</div>
                Вице-президент ФКТО МСМК,
                Судья межденародной категории,
                Тренер 1 категории.
            </div>
        </a>
        <a href="#" class="item">
            <div class="video-author">
                <video poster="img/TEMP/author.jpg">
                    <source src="video/author.mp4">
                </video>
            </div>
            <div class="author">
                <div class="name">Усенок Юрий Иванович</div>
                Вице-президент ФКТО МСМК,
                Судья межденародной категории,
                Тренер 1 категории.
            </div>
        </a>
        <a href="#" class="item">
            <div class="video-author">
                <video poster="img/TEMP/author.jpg">
                    <source src="video/author.mp4">
                </video>
            </div>
            <div class="author">
                <div class="name">Усенок Юрий Иванович</div>
                Вице-президент ФКТО МСМК,
                Судья межденародной категории,
                Тренер 1 категории.
            </div>
        </a>
    </div>
    <div class="row slide-item-control">
        <div class="column small-12 text-center">
            <div class="custom-nav"></div>
        </div>
    </div>
</article>
<article class="table">
    <div class="row">
        <div class="column large-12">
            <h2>Расписание</h2>
        </div>
    </div>
    <div class="row">
        <div class="column large-12">
            <table>
                <thead>
                <tr>
                    <th width="200">Table Header</th>
                    <th>Table Header</th>
                    <th width="150">Table Header</th>
                    <th width="150">Table Header</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Content Goes Here</td>
                    <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                    <td>Content Goes Here</td>
                    <td>Content Goes Here</td>
                </tr>
                <tr>
                    <td>Content Goes Here</td>
                    <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                    <td>Content Goes Here</td>
                    <td>Content Goes Here</td>
                </tr>
                <tr>
                    <td>Content Goes Here</td>
                    <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                    <td>Content Goes Here</td>
                    <td>Content Goes Here</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>
<article class="last-container">
    <div class="row docs">
        <div class="column small-12">
            <h2>Официальные документы</h2>
        </div>
        <div class="column small-12 medium-6">
            <a href="#" class="item" data-format=".txt">
                <div class="title">
                    Положение открытого чемпионата и первентства СЗФО по КАРАТЭ WKF
                    <span>PDF, 353 Mb</span>
                </div>
            </a>
        </div>
        <div class="column small-12 medium-6">
            <a href="#" class="item" data-format=".pdf">
                <div class="title">
                    Положение открытого чемпионата и первентства СЗФО по КАРАТЭ WKF
                    <span>PDF, 353 Mb</span>
                </div>
            </a>
        </div>
        <div class="column small-12 medium-6">
            <a href="#" class="item" data-format=".txt">
                <div class="title">
                    Положение открытого чемпионата и первентства СЗФО по КАРАТЭ WKF
                    <span>PDF, 353 Mb</span>
                </div>
            </a>
        </div>
        <div class="column small-12 medium-6">
            <a href="#" class="item" data-format=".pdf">
                <div class="title">
                    Положение открытого чемпионата и первентства СЗФО по КАРАТЭ WKF
                    <span>PDF, 353 Mb</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row rules">
        <div class="column small-12">
            <h2>Правила и регламенты</h2>
        </div>
        <div class="column small-12">
            <ul>
                <li>Положение и регламент соревнований <span>(<a href="#">Скачать</a>,PDF, 20 Mb)</span></li>
                <li>Положение открытого чемпионата и первентства СЗФО по КАРАТЭ WKF <span>(<a href="#">Скачать</a>,PDF, 20 Mb)</span></li>
                <li>Выписка из единого календарного плана, межрегиональных, всероссийских и международных физкультурных мероприятий и спортивныхмероприятий на 2016 год <span>(<a href="#">Скачать</a>,PDF, 20 Mb)</span></li>
            </ul>
        </div>
    </div>
</article>
@@include('./templates/footer.html')
