article.gallery-thumb {
  .thumb .slide .img {
    height: rem-calc(160);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: filter 300ms 0s linear;
    cursor: pointer;
  }
  .thumb .slide .img:hover {
    filter: grayscale(0);
  }
}