article.allevents {
  .events_tile {

  }
  .owl-prev, .owl-next {
    background-color: rgba(244,244,244,1);
  }
  .tabs-content {
    background-color: transparent;
    padding-top: 0;
  }
}
article.event-view {
  padding: rem-calc(45 0);
}
.events_tile {
  padding: rem-calc(65 0);
}
.events_tile .item {
  min-height: rem-calc(400);
  margin-bottom: rem-calc(30);
  cursor: default;
}
.events_tile .item a.img {
  display: block;
  width: 100%;
  height: rem-calc(280);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(1);
  transition: all 300ms 0s linear;
}
.events_tile .item .date {
  display: inline-block;
  margin: rem-calc(16 0 10);
  padding-bottom: rem-calc(6);
  line-height: rem-calc(14);
  font-size: rem-calc(14);
  font-weight: 600;
  color: rgba(0,0,0,.7);
  border-bottom: rem-calc(3) solid rgba(56,73,154,1);
}
.events_tile .item .title {
  font-weight: 900;
  color: rgba(0,0,0,1);
  text-transform: uppercase;
  font-size: rem-calc(16);
  line-height: rem-calc(22);
  display: block;
  transition: all 300ms 0s linear;
}
.events_tile .item:hover a.img {
    filter: grayscale(0);
}

.events_tile .item .title:hover {
  color: rgba(0,0,0,.7);
}
ul.event-info, ul.centers-info {
  background-color: rgba(244,244,244,1);
  padding: rem-calc(25 45 45);
  margin: 0;
  li {
    border-bottom: rem-calc(1) solid rgba(0,0,0,.05);
    padding: rem-calc(10 0);
    font-weight: 600;
    span {
      font-weight: 400;
      color: rgba(0,0,0,.5);
    }
  }
  li.icon {
    padding-left: rem-calc(30);
    position: relative;
  }
  li.icon:after {
    position: absolute;
    content: '';
    left: 0;
    top: rem-calc(12);
    width: rem-calc(18);
    height: rem-calc(18);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.event-info-btn {
  background-color: rgba(244,244,244,1);
  padding: rem-calc(25 45);
  margin: rem-calc(20 0 45);
  .button {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}
article.events.is-main {
  padding-bottom: 0;
}