article.news {
  padding: rem-calc(55 0);
  section {
    margin-bottom: rem-calc(30);
    cursor: default;
  }
  section:last-child {
    margin-bottom: 0;
  }
  .img {
    width: 100%;
    height: rem-calc(220);
    background-size: cover;
    background-position: center;
    display: block;
    filter: grayscale(1);
    transition: all 300ms 0s linear;
  }
  section:hover .img {
    filter: grayscale(0);
  }
  section .title {
    font-weight: 900;
    color: rgba(0,0,0,1);
    text-transform: uppercase;
    font-size: rem-calc(18);
    display: inline-block;
  }
  section .title:hover {
    color: rgba(56,73,154,1);
  }
  section .date {
    font-size: rem-calc(12);
    line-height: rem-calc(12);
    padding: rem-calc(4 0);
    font-weight: 500;
    color: rgba(0,0,0,.4);
  }
  section .text {
    padding: rem-calc(15 0);
  }
  section .wrapper {
    height: rem-calc(220);
  }
  @include breakpoint(medium down) {
    section .wrapper {
      height: auto;
    }
    section .title {
      margin-top: rem-calc(15);
    }
    .column:last-child {
      float: none;
    }
  }
}


article.news-view {
  padding: rem-calc(45 0);
  .date {
    font-size: rem-calc(14);
    line-height: rem-calc(14);
    padding: rem-calc(4 0);
    font-weight: 500;
    color: rgba(0,0,0,.4);
    margin-bottom: rem-calc(10);
  }
}
article.news-preview {
  padding: rem-calc(55 0);

  .item {
    background-color: rgba(255,255,255,1);
    height: rem-calc(400);
    position: relative;
    overflow: hidden;
    border: rem-calc(1) solid rgba(0,0,0,.1);
  }
  .item > .img {
    width: 100%;
    height: rem-calc(240);
    background-size: cover;
    background-position: center;
    display: block;
    filter: grayscale(1);
    transition: all 300ms 0s linear;
  }
  .item > .container {
    padding: rem-calc(30 30 40);
    transition: all 300ms 0s linear;
    cursor: default;
  }
  .item:hover > .container {
    bottom: rem-calc(-60);
  }
  .item:hover > .img {
    filter: grayscale(0);
  }
  .item > .container > .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: rem-calc(20);
    text-transform: uppercase;
    color: rgba(0,0,0,1);
    margin-bottom: rem-calc(8);
    display: block;
  }
  .item > .container > .date {
    font-size: rem-calc(14);
    line-height: rem-calc(14);
    font-weight: 500;
    padding: rem-calc(0 0 10);
    color: rgba(0,0,0,.5);
    svg {
      display: inline-block;
      vertical-align: middle;
      fill: rgba(56,73,154,1);
      margin-bottom: rem-calc(2);
      margin-right: rem-calc(5);
    }
  }
  .item > .container > .preview {
    color: rgba(0,0,0,.7);
    font-size: rem-calc(16);
    line-height: rem-calc(20);
  }
}
article.news-preview.is-main {
  padding-bottom: 0;
}