.input-field {
  input[type]:not([type=submit]),
  textarea {
    border-bottom: rem-calc(2) solid rgba(0,0,0,.15) !important;
  }
  input[type]:not([type=submit]):focus,
  textarea:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: rem-calc(2) solid rgba(56,73,154,1) !important;
    box-shadow: rem-calc(0 1 0 0) rgba(56,73,154,1) !important;
    transition: box-shadow .25s,border-color .25s ease-in-out;
  }
  label {
    font-family: Roboto, sans-serif;
    font-size: rem-calc(14);
    font-weight: 500;
  }
}
button:focus {
  background-color: inherit !important;
}