.tabs {
  border: none;
  text-align: center;
  background-color: rgba(255,255,255,1);
}
.tabs li {
  display: inline-block;
  float: none;
  font-size: rem-calc(16);
  line-height: rem-calc(16);
  text-transform: uppercase;
  font-weight: 600;
  margin: rem-calc(0 10);
  border-bottom: rem-calc(3) solid transparent;
}
.tabs li > a, .tabs li > a:focus {
  color: rgba(0,0,0,1);
  padding: rem-calc(30 0 27);
  background-color: transparent;
}
.tabs li.is-active, .tabs li.is-active:hover {
  border-bottom: rem-calc(3) solid rgba(56,73,154,1);
}
.tabs li:hover {
  border-bottom: rem-calc(3) solid rgba(0,0,0,.1);
  background-color: transparent;
}
.tabs li.is-active > a {
  background-color: transparent;
}
.tabs-title > a:hover {
  background-color: transparent;
}
.tabs-content {
  background-color: rgba(244,244,244,1);
  padding: rem-calc(50 0);
  border: none;
}