/**
 * Owl Carousel v2.1.4
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
.owl-carousel .owl-stage {
  width: 100%;
  height: 100%;
  position: relative;
  -ms-touch-action: pan-Y; }
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }
.owl-carousel .owl-stage-outer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-item {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-carousel.owl-loaded {
  display: block; }
.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }
.owl-carousel.owl-hidden {
  opacity: 0; }
.owl-carousel.owl-refresh .owl-item {
  display: none; }
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }
.owl-carousel.owl-rtl {
  direction: rtl; }
.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }




.owl-events {
  display: none;
  width: 100%;
  max-width: rem-calc(1200);
  margin: 0 auto;
  padding: rem-calc(0 15);
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
.owl-events .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }
.owl-events .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }
.owl-events .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-events .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }
.owl-events .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }
.owl-events .owl-nav.disabled,
.owl-events .owl-dots.disabled {
  display: none; }
.owl-events .owl-nav .owl-prev,
.owl-events .owl-nav .owl-next,
.owl-events .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-events.owl-loaded {
  display: block; }
.owl-events.owl-loading {
  opacity: 0;
  display: block; }
.owl-events.owl-hidden {
  opacity: 0; }
.owl-events.owl-refresh .owl-item {
  display: none; }
.owl-events.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-events.owl-grab {
  cursor: move;
  cursor: grab; }
.owl-events.owl-rtl {
  direction: rtl; }
.owl-events.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-events {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-events .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-events .owl-animated-in {
  z-index: 0; }

.owl-events .owl-animated-out {
  z-index: 1; }

.owl-events .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-events .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-events .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-events .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-events .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-events .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-events .owl-video-playing .owl-video-tn,
.owl-events .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-events .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-events .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }





.owl-thumb {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
.owl-thumb .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }
.owl-thumb .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }
.owl-thumb .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-thumb .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }
.owl-thumb .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }
.owl-thumb .owl-nav.disabled,
.owl-thumb .owl-dots.disabled {
  display: none; }
.owl-thumb .owl-nav .owl-prev,
.owl-thumb .owl-nav .owl-next,
.owl-thumb .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-thumb.owl-loaded {
  display: block; }
.owl-thumb.owl-loading {
  opacity: 0;
  display: block; }
.owl-thumb.owl-hidden {
  opacity: 0; }
.owl-thumb.owl-refresh .owl-item {
  display: none; }
.owl-thumb.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-thumb.owl-grab {
  cursor: move;
  cursor: grab; }
.owl-thumb.owl-rtl {
  direction: rtl; }
.owl-thumb.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-thumb {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-thumb .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-thumb .owl-animated-in {
  z-index: 0; }

.owl-thumb .owl-animated-out {
  z-index: 1; }

.owl-thumb .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-thumb .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-thumb .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-thumb .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-thumb .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-thumb .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-thumb .owl-video-playing .owl-video-tn,
.owl-thumb .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-thumb .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-thumb .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.owl-gallery {
  .slide, .img {
    width: 100%;
    height: 100%;
  }
  .img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .owl-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
  }
  .owl-next, .owl-prev {
    width: 50%;
    height: 100%;
    font-size: 0;
    float: left;
  }

  .owl-dots {
    text-align: left;
    position: absolute;
    bottom: rem-calc(10);
    width: 100%;
    transform: translate(-50%,0%);
    left: 50%;
    padding: rem-calc(0 15);
    -webkit-tap-highlight-color: transparent;
    @include breakpoint(small only) {
      text-align: center;
    }
  }
  .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .owl-dots .owl-dot span {
    width: rem-calc(12);
    height: rem-calc(12);
    margin: rem-calc(5);
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border: rem-calc(3) solid rgba(255,255,255,1); }
  .owl-dots .owl-dot.active span, .slider .owl-dots .owl-dot:hover span {
    background-color: rgba(255,255,255,1); }
}
.slider {
  width: 100%;
  height: 100%;
  max-height: rem-calc(460);
  margin: 0;
  touch-action: inherit;
}
.slider.full {
  max-height: 100%;
}
.slider .owl-stage-outer, .slider .owl-stage, .slider .owl-item {
  height: 100%;
}
.slider .owl-item {
  float: left;
}
.slider .slide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: default;
}
.slider .slide > .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.slider.full .wrapper > .container {
  padding-top: rem-calc(100);
  text-align: center;
  @include breakpoint(medium up) {
    text-align: left;
  }
}

.slide .title, .banner-title .title {
  font-size: rem-calc(46);
  line-height: rem-calc(60);
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding-left: rem-calc(20);
  margin: rem-calc(10 0);
  span {
    padding: rem-calc(7 0);
    background-color: rgba(255,255,255,1);
    position: relative;
    box-shadow: rem-calc(20) 0 0 rgba(255,255,255,1), rem-calc(-20) 0 0 rgba(255,255,255,1);
    display: inline;
    .canceler {
      position: absolute;
      top: 0;
      background-color: inherit;
      height: 100%;
    }
  }
  span:after {
    content: "\00a0";
    position: absolute;
    width: rem-calc(20);
    height: 100%;
    background-color: rgba(255,255,255,1);
    top: 0;
    left: rem-calc(-20);
  }
  @include breakpoint(small only) {
    text-align: center;
    padding-left: 0;
    span:after {
      background-color: rgba(255,255,255,0);
    }
    .canceler {
      display: none;
    }
  }
}
.slide .description, .banner-title .description {
  font-size: rem-calc(18);
  line-height: rem-calc(24);
  font-weight: 500;
  padding: rem-calc(7 20);
  margin: rem-calc(8 0);
  color: rgba(255,255,255,1);
  span {
    background-color: rgba(56,73,154,1);
    padding: rem-calc(10 0 10 0);
    box-shadow: rem-calc(20) 0 0 rgba(56,73,154,1), rem-calc(-20) 0 0 rgba(56,73,154,1);
    position: relative;
    .canceler {
      position: absolute;
      top: 0;
      background-color: inherit;
      height: 100%;
    }
  }
  span:after {
    content: '';
    position: absolute;
    width: rem-calc(20);
    height: 100%;
    background-color: rgba(56,73,154,1);
    top: 0;
    left: rem-calc(-20);
  }
  @include breakpoint(small only) {
    text-align: center;
    span:after {
      background-color: rgba(255,255,255,0);
    }
    .canceler {
      display: none;
    }
  }
}
.slide .description.grey {
  color: rgba(0,0,0,1);
  background-color: transparent !important;
  span {
    background-color: rgba(244,244,244,1);
    box-shadow: rem-calc(20) 0 0 rgba(244,244,244,1), rem-calc(-20) 0 0 rgba(244,244,244,1);
  }
  span:after {
    background-color: rgba(244,244,244,1);
  }
}
.slide .button {
  margin-top: rem-calc(30);
  margin-left: rem-calc(15);
}
/**
 * Owl Carousel v2.1.4
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.slider .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
.slider .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }
.slider .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }
.slider .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.slider .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.slider .owl-dots {
  text-align: left;
  position: absolute;
  bottom: rem-calc(40);
  width: 100%;
  transform: translate(-50%,0%);
  left: 50%;
  padding: rem-calc(0 15);
  -webkit-tap-highlight-color: transparent;
  @include breakpoint(small only) {
    text-align: center;
  }
}
.slider .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }
.slider .owl-dots .owl-dot span {
  width: rem-calc(12);
  height: rem-calc(12);
  margin: rem-calc(5);
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border: rem-calc(3) solid rgba(0,0,0,1); }
.slider .owl-dots .owl-dot.active span, .slider .owl-dots .owl-dot:hover span {
  background-color: rgba(0,0,0,1); }

.mouse_scroll {
  position: absolute;
  margin: 0 auto;
  display: block;
  left: 0;
  right: 0;
  width: rem-calc(22);
  height: rem-calc(32);
  z-index: 3;
  animation: mouse 1.6s infinite ease-in-out;
  animation-iteration-count: infinite;
  svg {
    fill: rgba(255,255,255,1);
  }
  @include breakpoint(small only) {
    display: none;
  }
}
@keyframes mouse {
  0% {bottom: rem-calc(50);}
  50% {bottom: rem-calc(40);}
  100% {bottom: rem-calc(50);}
}
.slide-item-control {
  padding: rem-calc(30 0 0);
  font-size: rem-calc(14);
  color: rgba(0,0,0,.6);
  .button {
    margin-bottom: 0;
    margin-right: rem-calc(10);
    display: inline-block;
    vertical-align: middle;
  }
  .custom-nav, .custom-nav-2 {
    display: inline-block;
    vertical-align: middle;
  }
  .owl-prev, .owl-next {
    padding: rem-calc(15 19);
    background-color: rgba(255,255,255,1);
    border-radius: rem-calc(2);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
  .owl-prev {
    margin-right: rem-calc(5);
  }
  .owl-next:after, .owl-prev:after {
    content: '';
    background-image: url("../img/icon_arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: rem-calc(10);
    height: rem-calc(18);
    background-size: 100%;
    display: block;
    opacity: .3;
    transition: opacity 300ms 0s linear;
  }
  .owl-prev:after {
    transform: rotate(180deg);
  }
  .owl-prev:hover:after, .owl-next:hover:after {
      opacity: .5;
  }
  .owl-next.disabled:after, .owl-prev.disabled:after {
    opacity: .1;
  }
  .owl-next.disabled, .owl-prev.disabled {
    cursor: default;
  }
}
.slider-best {
  .owl-nav {
    text-align: center;
  }
  .owl-prev, .owl-next {
    padding: rem-calc(15 19);
    background-color: rgba(244,244,244,1);
    border-radius: rem-calc(2);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 0;
  }
  .owl-prev {
    margin-right: rem-calc(5);
  }
  .owl-next:after, .owl-prev:after {
    content: '';
    background-image: url("../img/icon_arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: rem-calc(10);
    height: rem-calc(18);
    background-size: 100%;
    display: block;
    opacity: .3;
    transition: opacity 300ms 0s linear;
  }
  .owl-prev:after {
    transform: rotate(180deg);
  }
  .owl-prev:hover:after, .owl-next:hover:after {
    opacity: .5;
  }
  .owl-next.disabled:after, .owl-prev.disabled:after {
    opacity: .1;
  }
  .owl-next.disabled, .owl-prev.disabled {
    cursor: default;
  }
}