.pagenav {
  text-align: center;
  padding-bottom: rem-calc(55);
  .prev, .next {
    padding: rem-calc(15 19);
    background-color: rgba(244,244,244,1);
    border-radius: rem-calc(2);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: rem-calc(0 3);
  }
  .next:after, .prev:after {
    content: '';
    background-image: url("../img/icon_arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: rem-calc(10);
    height: rem-calc(18);
    background-size: 100%;
    display: block;
    opacity: .3;
    transition: opacity 300ms 0s linear;
  }
  .prev:after {
    transform: rotate(180deg);
  }
  .prev:hover:after, .next:hover:after {
    opacity: .5;
  }
  .next.disabled:after, .prev.disabled:after {
    opacity: .1;
  }
  .next.disabled, .prev.disabled {
    cursor: default;
  }
  .counter {
    display: inline-block;
    vertical-align: middle;
    margin: rem-calc(0 3);
  }
  .counter a {
    margin: rem-calc(0 10);
    line-height: rem-calc(48);
    font-weight: 700;
    color: rgba(0,0,0,.6);
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .counter a:hover {
    color: rgba(0,0,0,1);
  }
  .counter a.current {
    color: rgba(56,73,154,1);
    font-size: rem-calc(20);
  }
  .counter a.current:after {
    content: '';
    position: absolute;
    transform: translate(-50%,0%);
    left: 50%;
    bottom: rem-calc(7);
    width: 100%;
    height: rem-calc(3);
    background-color: rgba(56,73,154,1);
  }
}