.reveal {
  top: 50% !important;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  padding: 0;
  border: none;
  outline: none;
}
.reveal-overlay {
  background-color: rgba(0,0,0,.8);
}
.reveal#gallery {
  width: 100%;
  max-width: rem-calc(1200);
  height: 100%;
  max-height: rem-calc(670);
}