article.partners {
  position: relative;
  .partners-slider {
    width: 100%;
    max-width: rem-calc(1200);
    padding: rem-calc(60 80);
    margin: 0 auto;
    box-sizing: border-box;
  }
  .partners-slider .item {
    text-align: center;
    cursor: default;
    .name {
      font-weight: 600;
    }
    .status {
      font-size: rem-calc(12);
      color: rgba(0,0,0,.5);
    }
  }
  .partners-slider .item .logo {
    width: 100%;
    height: rem-calc(140);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    filter: grayscale(1);
    transition: all .3s 0s linear;
  }
  .partners-slider .item:hover .logo {
    filter: grayscale(0);
  }
  .partners-nav {
    width: 100%;
    max-width: rem-calc(1200);
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: 1;
    pointer-events: none;

    .owl-prev, .owl-next {
      padding: rem-calc(15 19);
      background-color: rgba(255,255,255,1);
      border-radius: rem-calc(2);
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translate(0%,-50%);
      pointer-events: auto;
    }
    .owl-prev {
      left: rem-calc(10);
    }
    .owl-next {
      right: rem-calc(10);
    }
    .owl-next:after, .owl-prev:after {
      content: '';
      background-image: url("../img/icon_arrow.svg");
      background-repeat: no-repeat;
      background-position: center center;
      width: rem-calc(10);
      height: rem-calc(18);
      background-size: 100%;
      display: block;
      opacity: .3;
      transition: opacity 300ms 0s linear;
    }
    .owl-prev:after {
      transform: rotate(180deg);
    }
    .owl-prev:hover:after, .owl-next:hover:after {
      opacity: .5;
    }
    .owl-next.disabled:after, .owl-prev.disabled:after {
      opacity: .1;
    }
    .owl-next.disabled, .owl-prev.disabled {
      cursor: default;
    }
  }
}