article.plans {
  height: auto !important;
  width: 100%;
  max-width: rem-calc(1200);
  padding: rem-calc(45 15 0);
  margin: 0 auto;
}
.calendar {
  width: 100%;
}
.calendar:after, .calendar .week:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0
}
.calendar .date {
  font-weight: 600;
  text-transform: uppercase;
  padding: rem-calc(0 0 15);
}
.calendar .week {
  background-color: rgba(244,244,244,.3);
}
.calendar .week div {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 14.285%;
  text-align: center;
  font-weight: 600;
  line-height: rem-calc(48);
  font-size: rem-calc(14);
  color: rgba(0,0,0,.6);
}
.calendar .day, .calendar .null {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  width: 14.285%;
  background-color: rgba(255,255,255,1);
  border: rem-calc(0.25) solid rgba(220,220,220,.2);
  cursor: default;
}
.calendar .day:before {
  content: attr(data-calendar-day);
  display: block;
  text-align: center;
  width: rem-calc(20);
  line-height: rem-calc(20);
  font-size: rem-calc(12);
  font-weight: 600;
  color: rgba(0,0,0,.4);
  position: absolute;
  top: 0;
  left: 0;
}
.calendar .day.event {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.calendar .day.event:before {
  background-color: rgba(56,73,154,1);
  color: rgba(255,255,255,1);
}
.calendar .null {
  background-color: rgba(220,220,220,.2);
}
.calendar .day .ballun {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 99;
  bottom: rem-calc(65);
  left: 50%;
  transform: translate(-50%,0%);
  background-color: rgba(255,255,255,1);
  width: rem-calc(220);
  box-shadow: rem-calc(0 0 10 0) rgba(0,0,0,.15);
  transition: all 600ms 50ms linear;
}
.calendar .day:hover > .ballun {
  visibility: visible;
  opacity: 1;
}
.calendar .day .ballun .img {
  display: block;
  width: 100%;
  height: rem-calc(140);
  background-size: cover;
  margin-bottom: rem-calc(5);
}
.calendar .day .ballun .title {
  padding: rem-calc(10 15);
  line-height: rem-calc(16);
  font-size: rem-calc(14);
  font-weight: 600;
  color: rgba(0,0,0,1) !important;
}
.calendar .day .ballun .inside, .calendar .day .ballun .outside {
  position: relative;
  padding: rem-calc(0 15 15);
}
.calendar .day .ballun .inside:before {
  content: '';
  width: rem-calc(6);
  height: rem-calc(6);
  margin-right: rem-calc(4);
  background-color: rgba(56,73,154,1);
  display: inline-block;
  vertical-align: middle;
}
.calendar .day .ballun .inside:after {
  content: '- Мероприятие ФКТО';
  display: inline-block;
  font-size: rem-calc(12);
  color: rgba(0,0,0,.5);
}
.calendar .day .ballun .outside:before {
  content: '';
  width: rem-calc(6);
  height: rem-calc(6);
  margin-right: rem-calc(4);
  background-color: rgba(200,5,10,1);
  display: inline-block;
  vertical-align: middle;
}
.calendar .day .ballun .outside:after {
  content: '- Выездное мероприятие';
  display: inline-block;
  font-size: rem-calc(12);
  color: rgba(0,0,0,.5);
}
