.photos {
  h2 {
    padding: rem-calc(40 0 0);
  }
  .item {
    height: rem-calc(280);
    cursor: pointer;
    margin-bottom: rem-calc(30);
  }
  .item .img {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
    transition: all 300ms 0s linear;
  }
  .item:hover .img {
    filter: grayscale(0);
  }
  .item .title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: rem-calc(25);
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255,255,255,1);
  }

}
.videos {
  h2 {
    padding: rem-calc(40 0 0);
  }
  .item {
    cursor: pointer;
  }
  .item .img {
    width: 100%;
    height: rem-calc(240);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
    transition: all 300ms 0s linear;
    position: relative;
  }
  .item .img:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: rem-calc(42);
    height: rem-calc(42);
    background-image: url("../img/play.png");
    background-size: 100%;
    z-index: 1;
    transition: all 300ms 0s linear;
  }
  .item:hover .img:after {
    transform: translate(-50%,-50%) scale(1.2);
  }
  .item:hover .img {
    filter: grayscale(0);
  }
  .container {
    padding: rem-calc(25 0);
  }
  .title {
    font-weight: 600;
    text-transform: uppercase;
  }
  .custom-nav-2 {
    display: inline-block;
  }
}
.reveal#video {
  width: 100%;
  max-width: rem-calc(1000);
  height: 100%;
  max-height: rem-calc(540);
}