header {
  width: 100%;
  background-color: rgba(255,255,255,1);
  position: fixed;
  top: 0;
  padding: rem-calc(38 0);
  transition: padding 300ms 0s linear;
  box-shadow: rem-calc(-5 0 15 0) rgba(0,0,0,.1);
  z-index: 99;
}
header.scroll {
  padding: rem-calc(19 0);
}
header.hide {
  top: -100px;
}
/*header.main {
  background-color: rgba(255,255,255,0);
  box-shadow: rem-calc(-5 0 15 0) rgba(0,0,0,.0);
}*/
header.main.scroll, header.hover {
  background-color: rgba(255,255,255,1);
  box-shadow: rem-calc(-5 0 15 0) rgba(0,0,0,.1);
}
header.main:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 200%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  background: linear-gradient(180deg,rgba(255,255,255,1) 0,rgba(255,255,255,.4) 60%,transparent);
  transition: opacity 300ms 0s linear;
}
header.main.scroll:after {
  opacity: 0;
}
header button#go-menu {
  position: absolute;
  transform: scale(.33);
  transform-origin: left top;
  left: 0;
  margin: rem-calc(16);
  background-color: transparent;
  opacity: .4;
  transition: opacity 300ms 0s linear;
  span, span:after, span:before {
    background: rgba(0,0,0,1);
  }
}
header button#go-menu:hover {
  opacity: .8;
}
header button#go-menu.is-active {
  opacity: 1;
  span {
    background: 0 0;
  }
  span:after, span:before {
    background: rgba(56,73,154,1);
  }
}




header a.logo {
  display: block;
}
header a.logo > svg {
  display: block;
}
header button.find {
  padding: rem-calc(10);
  display: inline-block;
  vertical-align: middle;
  margin: rem-calc(13 15 10);
  position: absolute;
  right: 0;
  top: 0;
  svg {
    fill: rgba(0,0,0,.4);
    transition: all 300ms 0s linear;
  }
}
header button.find:hover{
  svg {
    fill: rgba(0,0,0,.8);
  }
}
header button.find.active {
  svg {
    fill: rgba(56,73,154,1);
  }
}
header .find-panel {
  width: 100%;
  height: rem-calc(0);
  position: absolute;
  bottom: rem-calc(0);
  left: 0;
  background-color: rgba(244,244,244,1);
  transition: all 300ms 0s linear;
  overflow: hidden;
  box-shadow: rem-calc(0 0 10 0) rgba(0,0,0,.15);
}
header .find-panel.active {
  height: rem-calc(60);
  bottom: rem-calc(-60);
}
header .find-panel > form {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
header .find-panel > form input[type='submit'] {
  position: absolute;
  display: block;
  height: rem-calc(60);
  line-height: rem-calc(60);
  right: rem-calc(15);
  color: rgba(0,0,0,1);
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-size: rem-calc(12);
  font-weight: 500;
  padding: 0;
  padding-left: rem-calc(20);
  background-image: url("../img/icon_enter.svg");
  background-size: rem-calc(14 14);
  background-position: left center;
  background-repeat: no-repeat;
  opacity: .35;
  transition: opacity 300ms 0s linear;
}

header .find-panel > form input[type='submit']:hover {
  opacity: 1;
}
header .find-panel > form input[type='text'] {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  box-shadow: none;
  line-height: rem-calc(60);
  text-align: center;
  font-size: rem-calc(18);
}
header .find-panel > form input[type='text']:hover {
  box-shadow: none;
}
header .navigation {
  text-align: right;
}
header .navigation > ul button.find {
  position: relative;
  margin: 0;
}
header .navigation > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  font-size: rem-calc(14);
  font-weight: 500;
  display: inline-block;
}
header .navigation > ul > li {
  display: inline-block;
}
header .navigation > ul > li > a {
  margin: rem-calc(0 8);
  padding: rem-calc(18 0);
  color: rgba(0,0,0,1);
  line-height: rem-calc(30);
  display: inline-block;
  position: relative;
}
header .navigation > ul > li > a:after {
  content: '';
  position: absolute;
  width: 0;
  height: rem-calc(3);
  background-color: rgba(56,73,154,1);
  bottom: rem-calc(18);
  left: 0;
  transition: width 300ms 0s linear;
}
header .navigation > ul > li:hover > a:after, header .navigation > ul > li.current > a:after {
  width: 100%;
}
header .navigation > ul > li > .sub {
  display: block;
  position: absolute;
  background-color: rgba(244,244,244,1);
  margin: 0;
  bottom: rem-calc(0);
  width: 100%;
  left: 0;
  height: 0;
  transition: all 300ms 0s linear;
  overflow: hidden;
  box-shadow: rem-calc(0 0 10 0) rgba(0,0,0,.15);
}
header .navigation > ul > li.current > .sub {
  bottom: rem-calc(-60);
  height: rem-calc(60);
}
header .navigation > ul > li > .sub > ul.row {
  max-width: rem-calc(1200);
  margin: 0 auto;
  padding: rem-calc(0 15);
}
header .navigation > ul > li > .sub > ul > li {
  display: inline-block;
}
header .navigation > ul > li > .sub > ul > li > a {
  display: inline-block;
  padding: rem-calc(20 8);
  line-height: rem-calc(20);
  color: rgba(0,0,0,1);
}
header .navigation > ul > li > .sub > ul > li > a:hover, header .navigation > ul > li > .sub > ul > li.current a {
  color: rgba(56,73,154,1);
}
@include breakpoint(small only) {

}
@include breakpoint(medium down) {
  header {
    padding: 0;
  }
  header .navigation {
    visibility: hidden;
    position: absolute;
    height: 0;
    transition: height 300ms 0s linear;
  }
  header .navigation.active {
    visibility: visible;
    position: fixed;
    height: calc(100% - 64px);
    width: 100%;
    max-width: rem-calc(400);
    z-index: -1;
    padding: rem-calc(20 0);
    top: rem-calc(64);
    background-color: rgba(244,244,244,1);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  header .navigation.active ul {
    display: block;
    text-align: left;
  }
  header .navigation.active ul > li {
    display: block;
  }
  header .navigation.active ul > li > a {
    margin: 0;
    padding: rem-calc(10 20);
    display: block;
  }
  header .navigation.active ul > li > a:hover {
    color: rgba(56,73,154,1);
  }
  header a.logo > svg {
    transform: scale(.7);
    margin: 0 auto;
  }
  header.scroll {
    padding: rem-calc(0 0);
  }
  header .find-panel > form input[type='submit'] {
    width: 0;
  }
  header .navigation.active > ul > li > a:after {
    content: '';
    position: absolute;
    width: rem-calc(3);
    height: 0;
    background-color: rgba(56,73,154,1);
    top: 0;
    left: 0;
    transition: width 300ms 0s linear;
  }
  header .navigation.active > ul > li:hover > a:after, header .navigation > ul > li.current > a:after {
    height: 100%;
  }
  header .navigation.active > ul > li.current > .sub {
    background-color: rgba(0,0,0,.05);
    height: auto;
    position: relative;
    bottom: 0;
  }
  header .navigation.active > ul > li.current > .sub ul li {
    display: block;
    a {
      display: block;
    }
  }
  header .navigation > ul > li > .sub {
    box-shadow: rem-calc(0 0 10 0) rgba(0,0,0,0);
  }
}
@include breakpoint(large) {

}
