        <footer>
            <div class="crumbs">
                <div class="row">
                    <div class="column large-7 medium-6 text-center medium-text-left">
                        <a href="#">Главная</a><a href="#">Мероприятия</a><a href="#">Тюмень</a>
                    </div>
                    <div class="column large-5 medium-6 hide-for-small-only social">
                        Мы в социальных сетях:
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" viewBox="0 0 16 16">
                                <path d="M7.827,12.867 L8.783,12.867 C8.783,12.867 9.071,12.832 9.219,12.660 C9.354,12.501 9.350,12.204 9.350,12.204 C9.350,12.204 9.331,10.811 9.927,10.606 C10.514,10.403 11.267,11.952 12.066,12.548 C12.670,12.998 13.129,12.900 13.129,12.900 L15.264,12.867 C15.264,12.867 16.382,12.792 15.852,11.838 C15.808,11.760 15.543,11.132 14.264,9.842 C12.925,8.492 13.104,8.711 14.717,6.376 C15.699,4.953 16.092,4.085 15.969,3.713 C15.852,3.359 15.130,3.452 15.130,3.452 L12.725,3.469 C12.725,3.469 12.547,3.442 12.415,3.528 C12.286,3.612 12.203,3.808 12.203,3.808 C12.203,3.808 11.822,4.909 11.314,5.845 C10.244,7.820 9.816,7.924 9.641,7.801 C9.233,7.515 9.335,6.653 9.335,6.041 C9.335,4.127 9.602,3.329 8.815,3.122 C8.553,3.053 8.361,3.008 7.692,3.001 C6.834,2.991 6.108,3.004 5.697,3.222 C5.423,3.368 5.213,3.692 5.341,3.711 C5.500,3.734 5.860,3.816 6.051,4.098 C6.297,4.463 6.289,5.280 6.289,5.280 C6.289,5.280 6.430,7.533 5.958,7.813 C5.634,8.005 5.189,7.613 4.234,5.821 C3.746,4.904 3.376,3.889 3.376,3.889 C3.376,3.889 3.305,3.700 3.178,3.598 C3.024,3.475 2.809,3.437 2.809,3.437 L0.523,3.452 C0.523,3.452 0.181,3.463 0.055,3.625 C-0.058,3.769 0.046,4.067 0.046,4.067 C0.046,4.067 1.834,8.613 3.860,10.904 C5.718,13.005 7.827,12.867 7.827,12.867 L7.827,12.867 Z"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="18" height="18" viewBox="0 0 18 18">
                                <path d="M16.995,17.732 L11.857,17.732 L11.857,11.765 L14.308,11.765 L14.676,8.959 L11.857,8.959 L11.857,7.159 C11.857,6.344 12.078,5.788 13.264,5.788 L14.775,5.789 L14.775,3.270 C14.514,3.235 13.616,3.165 12.572,3.165 C10.393,3.165 8.902,4.471 8.902,6.881 L8.902,8.959 L6.427,8.959 L6.427,11.765 L8.901,11.765 L8.901,17.732 L0.996,17.732 C0.448,17.732 0.004,17.294 0.004,16.753 L0.004,0.977 C0.004,0.436 0.448,-0.001 0.996,-0.001 L16.995,-0.001 C17.543,-0.001 17.987,0.436 17.987,0.977 L17.987,16.753 C17.987,17.294 17.543,17.732 16.995,17.732 Z"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="18" height="18" viewBox="0 0 18 18">
                                <path d="M17.820,12.973 C17.820,12.973 17.644,14.345 17.105,14.949 C16.420,15.742 15.653,15.746 15.301,15.792 C12.782,15.994 9.000,16.000 9.000,16.000 C9.000,16.000 4.320,15.953 2.880,15.800 C2.479,15.717 1.580,15.742 0.895,14.949 C0.356,14.345 0.180,12.973 0.180,12.973 C0.180,12.973 -0.000,11.363 -0.000,9.752 L-0.000,8.242 C-0.000,6.631 0.180,5.020 0.180,5.020 C0.180,5.020 0.356,3.649 0.895,3.044 C1.580,2.252 2.347,2.248 2.699,2.201 C5.218,2.000 8.996,2.000 8.996,2.000 L9.004,2.000 C9.004,2.000 12.782,2.000 15.301,2.201 C15.653,2.248 16.420,2.252 17.105,3.044 C17.644,3.649 17.820,5.020 17.820,5.020 C17.820,5.020 18.000,6.631 18.000,8.242 L18.000,9.752 C18.000,11.363 17.820,12.973 17.820,12.973 ZM7.000,7.000 L7.000,11.000 L11.000,9.007 L7.000,7.000 Z"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="18" height="18" viewBox="0 0 18 18">
                                <path d="M10.565,1.511 C9.261,2.406 9.114,3.168 8.951,3.499 C8.674,4.129 8.737,5.565 8.835,5.599 C8.914,5.626 6.672,5.722 3.945,4.131 C2.825,3.403 2.294,2.887 1.223,1.710 C0.668,2.207 0.668,3.565 0.685,3.797 C0.701,4.029 0.750,5.521 2.299,6.730 C2.299,6.730 1.516,6.747 0.685,6.283 C0.522,6.134 0.766,7.575 1.027,8.022 C2.005,9.745 3.473,9.961 3.571,10.011 C3.913,10.044 2.804,10.375 1.957,10.060 C1.875,9.977 2.397,11.253 3.130,11.850 C4.011,12.595 5.175,12.648 5.380,12.695 C5.685,12.504 3.943,14.394 -0.000,14.285 C0.226,14.478 2.479,16.224 6.750,15.975 C9.318,15.876 16.258,13.102 16.190,4.742 C17.299,4.013 18.000,2.803 18.000,2.803 C18.000,2.803 16.582,3.317 15.995,3.300 C17.038,2.687 17.560,1.312 17.560,1.312 C17.560,1.312 15.603,2.240 15.212,2.157 C14.976,2.107 14.248,1.177 12.865,1.024 C12.116,0.923 11.166,1.129 10.565,1.511"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="row">
                    <div class="column large-6 text-center medium-text-left">© 2013–2015  «ФКТО» Все права защищены.</div>
                    <div class="column large-6 text-right hide-for-small-only">Разработка и дизайн сайта — </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="js/app.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.min.js"></script>
</body>
</html>