<div class="reveal" id="gallery" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <section id="gallery_slider" class="owl-carousel owl-gallery">
        <div class="slide">
            <div class="img" style="background-image: url(http://www.donskie-sokoly.ru/_imag_images/110/1610-120.jpg)"></div>
        </div>
        <div class="slide">
            <div class="img" style="background-image: url(http://www.izvestiaur.ru/upload/iblock/67a/%D0%BA%D0%B0%D1%80%D0%B0%D1%82%D0%B5-fclub-spb.ru-800.jpg)"></div>
        </div>
        <div class="slide">
            <div class="img" style="background-image: url(http://novorossia.today/wp-content/uploads/2015/04/karate_prev.jpg)"></div>
        </div>
    </section>
</div>