<header class="">
    <div class="row">
        <button id="go-menu" class="c-hamburger c-hamburger--htx hide-for-large">
            <span>Меню</span>
        </button>
        <div class="column large-3 medium-12 small-12">
            <a href="index.html" class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" height="64" width="137" preserveAspectRatio="xMidYMid" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 137 64">
                    <path d="m62.1 61h-59l-0.02-58 59 0.03v58zm3-61h-65.1l0.008 64h65.1v-64z" class="black"/>
                    <path d="m135 42.9v-0.8-2.1l-1 2.3v0.6h-2v-6.5h2v0.8 2.1l1-2.3v-0.6h2v6.5h-2zm1-7.9v0.6h-3v-1.6h3v1zm-2-17.1l-1 2.1h-2v-0.8l1-1.7v-0.7-2.6-0.8h4v6.6h-2v-2.1zm0-2.9v1.3-1.3zm-4 27.9h-4v-0.8-4.9-0.8h4s1 0.3 1 0.8v4.9c0 0.5-1 0.8-1 0.8zm-2-4.9v3.3-3.3zm0-18.8v-2.2l-1 2.3v0.7h-2v-6.6h2v0.8 2.1l1-2.3v-0.6h2v6.6h-2v-0.8zm-6 21.2h-1v2.5h-2v-6.5h2v2.3h1v-2.3h2v0.8l-1 2.3 1 2.6v0.8h-2v-2.5zm-4-27h3v4.9-4.9h2v4.9h1v1.7h-6v-6.6zm2 34.4v6.6h-2v-0.8l1-2.1h-1l-1 2.3v0.6h-2v-6.6h2v0.9 2.1l1-2.3v-0.7h2zm-6-5.7v-4.9-0.8h4v0.8 0.8h-2v3.3h2v1.6h-4v-0.8zm1-23.5h-1v1.4h-2v-0.8l1-5.8h3l1 5.8v0.8h-2v-1.4zm0-3.6h-1v2h1v-2zm-5 2.9h-2v2.1h-2v-6.6h4c1 0 1 0.3 1 0.8v2.9c0 0.5 0 0.8-1 0.8zm-1-2.9h-1v1.3h1v-1.3zm-9-1.6h5v0.8l-1 0.8h-2v0.8h2v1.6h-2v0.9h3v1.7h-5v-6.6zm-7.1 4.9h0.6l1-4.9h3.9v4.9h0.6v1.7h-6.1v-1.7zm3.5 0v-3.3h-0.3l-0.5 3.3h0.8zm-9-4.9h4.4v0.8l-0.3 0.8h-2.1v0.8h2.1v1.6h-2.1v0.9h2.4v1.7h-4.4v-6.6zm-2.3 5.9h-1.9v0.7h-2.1v-0.7h-2c-0.4 0-0.8-0.4-0.8-0.9v-3.6c0-0.5 0.4-0.8 0.8-0.8h2v-0.6h2.1v0.6h1.9c0.5 0 0.9 0.3 0.9 0.8v3.6c0 0.5-0.4 0.9-0.9 0.9zm-4-3.7h-0.7v2h0.7v-2zm2.8 0h-0.7v2h0.7v-2zm-1.2 21.6l-0.3 0.8h-1v4.9h-2v-4.9h-1.3v-1.6h4.6v0.8zm-38.2 7.9h7.8v9.2h-7.8v-9.2zm2.2 7.5h3.4v-5.8h-3.4v5.8zm-12.6-22.4h18.2v7.5h-18.2v-7.5zm10.8-15.1h7.4v11.7h-7.4v-11.7zm-10.8-1.6h7.4v13.3h-7.4v-13.3zm-2.9 40.8l-1.6-3.7h-1.9v3.7h-2.3v-9.2h2.3v3.7h1.9l1.6-3.7h2.3l-1.9 4.6 1.9 4.6h-2.3zm-7.9-37.7h7.4v21.1h-7.4v-21.1zm-10.8 7.4h7.4v13.7h-7.4v-13.7zm4.5 21.1h2.2v1.2h4.6v6.8h-4.6v1.2h-2.2v-1.2h-4.5v-6.8h4.5v-1.2zm2.2 6.2h2.3v-3.3h-2.3v3.3zm-4.5-3.3v3.3h2.3v-3.3h-2.3zm28.1-1.2h-2.8v7.5h-2.2v-7.5h-2.9v-1.7h7.9v1.7zm36.4 1h3.3c0.5 0 0.8 0.4 0.8 0.9v4.9c0 0.5-0.3 0.8-0.8 0.8h-3.3c-0.4 0-0.8-0.3-0.8-0.8v-4.9c0-0.5 0.4-0.9 0.8-0.9zm1.3 5h0.8v-3.3h-0.8v3.3zm2.9-21.3h-2l-0.6-2.6h-0.3v2.6h-2.1v-6.6h2.1v2.4h0.3l0.5-2.4h2v0.8l-0.8 2.3 0.9 2.6v0.9zm3.4-1.4l-0.2 1.4h-2v-0.9l0.9-5.7h3.4l1 5.7v0.9h-2.1l-0.1-1.4h-0.9zm0.5-3.6h-0.2l-0.2 2h0.6l-0.2-2zm-1.3 12.2h0.8v-1.5c0-0.5 0.3-0.8 0.8-0.8h3.2c0.5 0 0.8 0.3 0.8 0.8v4.9c0 0.5-0.3 0.8-0.8 0.8h-3.2c-0.5 0-0.8-0.3-0.8-0.8v-1.7h-0.8v2.5h-2v-6.5h2v2.3zm2.8 2.6h0.8v-3.3h-0.8v3.3zm1 7.4l-0.4 0.8h-2.5v0.7h2.1c0.5 0 0.8 0.4 0.8 0.9v2.5c0 0.5-0.3 0.8-0.8 0.8h-4.1v-6.6h4.9v0.9zm-2.9 4.1h0.9v-0.9h-0.9v0.9zm9.2-5v6.6h-2v-4.9h-0.3l-0.8 4.9h-2v-0.8l1.2-5.8h3.9zm-4.9-16.3v-6.6h4.1c0.5 0 0.8 0.3 0.8 0.8v2.9c0 0.5-0.3 0.8-0.8 0.8h-2v2.1h-2.1zm2.9-3.7v-1.3h-0.8v1.3h0.8zm1 12h-0.1v3.1h-2v-0.8l0.7-5.7h2.2l0.5 2.6h0.2l0.5-2.6h2.3l0.6 5.7v0.8h-2v-3.1h-0.1l-0.5 3.1h-1.7l-0.6-3.1zm6.9 8l1 5.8v0.8h-2v-1.3h-1.3l-0.2 1.3h-2v-0.8l0.9-5.8h3.6zm-2 3.7v-2l-0.2 2h0.2zm5-3.7h3v0.9 0.8h-2v3.3h2v1.6h-3c-1 0-1-0.3-1-0.8v-4.9c0-0.5 0-0.9 1-0.9zm2-22.1v0.8h-1v5h-2v-5h-1v-1.6h4v0.8zm-7 4.4h-0.7l-0.1 1.4h-2.1v-0.9l0.9-5.7h3l1 5.7v0.9h-2v-1.4zm-0.2-3.6h-0.2l-0.2 2h0.6l-0.2-2zm6.2 10.7l-1 0.8h-2v0.7h2v1.7h-2v0.9h3v1.6h-5v-6.5h5v0.8zm1 5.7v-6.5h2v2.3h1v-2.3h2v6.5h-2v-2.5h-1v2.5h-2zm2-16.4l-1-0.8v-0.8h4c1 0 1 0.3 1 0.8v4.9c0 0.5 0 0.9-1 0.9h-4v-1.7h3v-0.9h-1v-1.6h1v-0.8h-2zm5 22.2v0.8h-1v4.9h-2v-4.9h-1v-1.7h4v0.9z" class="black"/>
                </svg>
            </a>
        </div>
        <div class="column large-9 navigation">
            <ul class="level-1">
                <!--Add class='current' for active <li> elements -->
                <li>
                    <a href="federation-history.html">Федерация</a>
                    <div class="sub">
                        <ul class="row level-2">
                            <li><a href="federation-history.html">История федерации</a></li>
                            <li><a href="federation-leaders.html">Руководители</a></li>
                            <li><a href="federation-athletes.html">Тренеры</a></li>
                            <li><a href="federation-athletes.html">Спортсмены</a></li>
                            <li><a href="federation-doc.html">Документы</a></li>
                            <li><a href="federation-plan.html">План работ</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="federation-plan.html">Школа каратэ</a></li>
                <li>
                    <a href="events.html">Мероприятия</a>
                    <div class="sub">
                        <ul class="row level-2">
                            <li><a href="#">Ближайшие</a></li>
                            <li><a href="#">Прошедшие</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="news.html">Новости</a></li>
                <li>
                    <a href="centers.html">Центры каратэ</a>
                </li>
                <li><a href="federation-gallerys.html">Галерея</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <button class="find hide-for-small-only hide-for-medium-only">
                    <svg xmlns="http://www.w3.org/2000/svg" height="18" width="18" preserveAspectRatio="xMidYMid" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16.41 16.125">
                        <path d="m15.9 15.7c-0.5 0.5-1.5 0.5-2.1 0l-2.9-2.9c-1.08 0.7-2.44 1.2-3.9 1.2-3.87 0-7-3.1-7-7 0-3.87 3.13-7 7-7 3.9 0 7 3.13 7 7 0 1.31-0.4 2.53-1 3.6l2.9 2.9c0.6 0.6 0.6 1.6 0 2.2zm-8.9-13.7c-2.76 0-5 2.24-5 5s2.24 5 5 5c1.06 0 2.04-0.3 2.85-0.9-0.01-0.4 0.13-0.8 0.45-1.1 0.3-0.28 0.6-0.41 1-0.43 0.4-0.75 0.7-1.63 0.7-2.57 0-2.76-2.24-5-5-5z"/>
                    </svg>
                </button>
            </ul>
        </div>
        <button class="find hide-for-large">
            <svg xmlns="http://www.w3.org/2000/svg" height="18" width="18" preserveAspectRatio="xMidYMid" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16.41 16.125">
                <path d="m15.9 15.7c-0.5 0.5-1.5 0.5-2.1 0l-2.9-2.9c-1.08 0.7-2.44 1.2-3.9 1.2-3.87 0-7-3.1-7-7 0-3.87 3.13-7 7-7 3.9 0 7 3.13 7 7 0 1.31-0.4 2.53-1 3.6l2.9 2.9c0.6 0.6 0.6 1.6 0 2.2zm-8.9-13.7c-2.76 0-5 2.24-5 5s2.24 5 5 5c1.06 0 2.04-0.3 2.85-0.9-0.01-0.4 0.13-0.8 0.45-1.1 0.3-0.28 0.6-0.41 1-0.43 0.4-0.75 0.7-1.63 0.7-2.57 0-2.76-2.24-5-5-5z"/>
            </svg>
        </button>
    </div>
    <div class="find-panel">
        <form class="row">
            <input type="submit" value="Нажмите Enter для поска">
            <input id="find-field" type="text" autocomplete="off">
        </form>
    </div>
</header>
<main>