<div class="row pagenav">
    <a href="#" class="prev disabled"></a>
    <div class="counter">
        <a href="#">1</a>
        <a href="#" class="current">2</a>
        <a href="#">3</a>
    </div>
    <a href="#" class="next"></a>
</div>