<div class="reveal" id="video" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/nKFDp9Y52-o" frameborder="0" allowfullscreen></iframe>
</div>